Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Add the two frontend models to the Agent Skill
  skills/actingweb-app/SKILL.md
Due: none

Restore the app-own-templates fact in the frontend-models section
  skills/actingweb-app/SKILL.md
Due: none

Fix misleading SDK-docs audience banner that hid Attributes from app authors
  docs/sdk/index.rst
Due: none

Note the two supported database backends and openness to contributed ones
  skills/actingweb-app/SKILL.md
Due: none

Add local-dev setup, actor lifecycle, and a See also section
  skills/actingweb-app/SKILL.md
Due: none

Emphasize the standardized IETF-draft-format peer-to-peer protocol
  skills/actingweb-app/SKILL.md
Due: none

Fix CI: Homepage's metadata location is poetry-core-version-dependent
  tests/test_distribution_metadata.py
Due: none

Fix real bugs Codex's PR review found in the new quickstarts
  CHANGELOG.rst
  docs/guides/p2p-quickstart.rst
  examples/mcp_quickstart.py
  examples/p2p_quickstart.py
  skills/actingweb-app/SKILL.md
Due: none

Move the ActingWeb demo application into examples/demo/
  AGENTS.md
  CHANGELOG.rst
  README.rst
  docs/guides/mcp-quickstart.rst
  docs/guides/p2p-quickstart.rst
  docs/quickstart/getting-started.rst
  docs/quickstart/index.rst
  examples/README.md
  examples/demo/.env.example
  examples/demo/README.md
  examples/demo/application.py
  examples/demo/shared_hooks/__init__.py
  examples/demo/shared_hooks/app/__init__.py
  examples/demo/shared_hooks/app/action_hooks.py
  examples/demo/shared_hooks/app/callback_hooks.py
  examples/demo/shared_hooks/app/method_hooks.py
  examples/demo/shared_hooks/app/property_hooks.py
  examples/demo/shared_hooks/app/ui_hooks.py
  examples/demo/shared_hooks/protocol/__init__.py
  examples/demo/shared_hooks/protocol/lifecycle_hooks.py
  examples/demo/shared_hooks/protocol/subscription_hooks.py
  examples/demo/shared_hooks/protocol/trust_hooks.py
  examples/demo/static/favicon.png
  examples/demo/static/style.css
  examples/demo/templates/aw-actor-www-demo.html
  examples/demo/templates/aw-actor-www-init.html
  examples/demo/templates/aw-actor-www-properties.html
  examples/demo/templates/aw-actor-www-property-delete.html
  examples/demo/templates/aw-actor-www-property.html
  examples/demo/templates/aw-actor-www-root.html
  examples/demo/templates/aw-actor-www-trust.html
  examples/demo/templates/aw-oauth-authorization-form.html
  examples/demo/templates/aw-root-created.html
  examples/demo/templates/aw-root-factory.html
  examples/demo/templates/aw-root-failed.html
  poetry.lock
  pyproject.toml
  tests/test_demo_example.py
  thoughts/plans/2026-08-22-demo-app-consolidation.md
Due: none

Fix CI wheel-exclusion test and address review feedback
  examples/demo/application.py
  examples/demo/shared_hooks/app/callback_hooks.py
  examples/demo/shared_hooks/app/property_hooks.py
  tests/test_demo_example.py
Due: none

Fix three Codex-flagged bugs: MCP tool discovery, devtest default, property protection bypass
  examples/demo/.env.example
  examples/demo/application.py
  examples/demo/shared_hooks/app/action_hooks.py
  examples/demo/shared_hooks/app/method_hooks.py
  examples/demo/shared_hooks/app/property_hooks.py
  examples/demo/templates/aw-actor-www-demo.html
  tests/test_demo_example.py
Due: none

Make examples/demo/ a pure ActingWeb protocol demo, not an MCP example
  AGENTS.md
  CHANGELOG.rst
  README.rst
  docs/guides/mcp-quickstart.rst
  docs/guides/p2p-quickstart.rst
  docs/quickstart/getting-started.rst
  docs/quickstart/index.rst
  examples/README.md
  examples/demo/README.md
  examples/demo/application.py
  examples/demo/shared_hooks/app/action_hooks.py
  examples/demo/shared_hooks/app/method_hooks.py
  examples/demo/templates/aw-actor-www-demo.html
  tests/test_demo_example.py
Due: none

Record the PR #137 review cycle in the plan doc
  thoughts/plans/2026-08-22-demo-app-consolidation.md
Due: none

Gate the /mcp endpoint on config.mcp -- with_mcp(enable=False) did nothing
  CHANGELOG.rst
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  tests/mcp_helpers.py
  tests/test_async_mcp_handler.py
  tests/test_mcp_disabled.py
Due: dynamodb, postgresql, HTTP Handlers

Regression test for the Flask root_path/sys.modules loader bug
  tests/test_demo_example.py
Due: none

Release v3.14.1
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Release v3.14.2: MCP 401 points at the protected-resource metadata
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/oauth2_server/oauth2_server.py
  docs/guides/authentication.rst
  pyproject.toml
  tests/integration/test_oauth2_flows.py
  tests/test_mcp_auth_challenge.py
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Challenge unauthenticated GET /mcp instead of serving a document
  CHANGELOG.rst
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  docs/guides/mcp-quickstart.rst
  tests/integration/test_mcp_basic.py
  tests/integration/test_oauth2_flows.py
  tests/test_async_mcp_handler.py
  tests/test_mcp_auth_challenge.py
  tests/test_mcp_disabled.py
  tests/test_mcp_version_negotiation.py
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Track the MCP discovery-metadata findings from the #138 review
  thoughts/todo/INDEX.md
  thoughts/todo/mcp-discovery-metadata-fidelity.md
Due: none

Release v3.14.2: MCP authorization discovery (#138)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/oauth2_server/oauth2_server.py
  docs/guides/authentication.rst
  docs/guides/mcp-quickstart.rst
  pyproject.toml
  tests/integration/test_mcp_basic.py
  tests/integration/test_oauth2_flows.py
  tests/test_async_mcp_handler.py
  tests/test_mcp_auth_challenge.py
  tests/test_mcp_disabled.py
  tests/test_mcp_version_negotiation.py
  thoughts/todo/INDEX.md
  thoughts/todo/mcp-discovery-metadata-fidelity.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers, OAuth System

Consumer measurement: scoped bulk list reads, and get_attr after get_bucket
  thoughts/research/2026-08-29-bulk-list-reads-from-a-consumer.md
  thoughts/todo/INDEX.md
  thoughts/todo/prop-list-key-prefix-scheme.md
  thoughts/todo/scoped-bulk-list-reads.md
Due: none

Take ownership of the consumer bulk-list-read filing: verify, correct, extend
  thoughts/research/2026-08-29-bulk-list-reads-from-a-consumer.md
  thoughts/todo/INDEX.md
  thoughts/todo/prop-list-key-prefix-scheme.md
  thoughts/todo/scoped-bulk-list-reads.md
Due: none

Add the seventh decision: what a partial rows dict promises
  thoughts/research/2026-08-29-bulk-list-reads-from-a-consumer.md
  thoughts/todo/scoped-bulk-list-reads.md
Due: none

Plan the scoped bulk list reads and attribute-bucket cache work
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
Due: none

Verify starts_with against a live PostgreSQL, and make Phase 6a conservative
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
Due: none

Fix the release shape: one PR, 3.14.3
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
Due: none

Stop DynamoDB attribute buckets matching by bare prefix
  CHANGELOG.rst
  actingweb/db/dynamodb/attribute.py
  tests/integration/test_db_attribute_buckets.py
  tests/test_attribute.py
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
  thoughts/todo/attribute-upsert-bucket-drift.md
Due: dynamodb, postgresql, DynamoDB Backend

Scope the three v1 list maintenance reads to one list
  CHANGELOG.rst
  actingweb/property_list.py
  tests/integration/test_property_list_migration.py
  tests/test_property_list_integrity.py
  tests/test_v1_maintenance_scoped_reads.py
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
Due: dynamodb, postgresql

Add get_prefix() to the property protocol and both backends
  CHANGELOG.rst
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/db/protocols.py
  tests/integration/test_db_property_range.py
  tests/test_db_property_get_prefix.py
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend, Database Common

Add list_prefix_with_rows() and the row-attribution helper
  CHANGELOG.rst
  actingweb/interface/property_store.py
  actingweb/property.py
  tests/integration/test_property_lists_advanced.py
  tests/test_list_prefix_with_rows.py
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
Due: dynamodb, postgresql, Core Modules, Interface Layer

Give the authenticated list store real bulk readers
  CHANGELOG.rst
  actingweb/interface/authenticated_views.py
  tests/integration/test_property_lists_advanced.py
  tests/test_authenticated_bulk_list_reads.py
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
  thoughts/todo/glob-to-regex-anchoring-gaps.md
Due: dynamodb, postgresql, Interface Layer

Make a fully-loaded attribute bucket authoritative
  CHANGELOG.rst
  actingweb/attribute.py
  tests/integration/test_db_attribute_buckets.py
  tests/test_attribute_bucket_authority.py
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
Due: dynamodb, postgresql

Release v3.14.3
  CHANGELOG.rst
  actingweb/__init__.py
  docs/guides/property-lists.rst
  pyproject.toml
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
  thoughts/todo/INDEX.md
  thoughts/todo/prop-list-key-prefix-scheme.md
  thoughts/todo/scoped-bulk-list-reads.md
Due: none

Unload the attribute bucket when a delete is not confirmed
  CHANGELOG.rst
  actingweb/attribute.py
  tests/test_attribute_bucket_authority.py
Due: dynamodb, postgresql

Verify v3.14.3: document the authenticated bulk readers, file the get_bucket todo
  docs/sdk/authenticated-views.rst
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
  thoughts/todo/INDEX.md
  thoughts/todo/attribute-get-bucket-empty-vs-none.md
  thoughts/verifications/2026-08-29-bulk-list-reads-from-a-consumer.md
Due: none

Release v3.14.3: scoped bulk list reads, and the attribute-bucket cache (#139)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/attribute.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/db/protocols.py
  actingweb/interface/authenticated_views.py
  actingweb/interface/property_store.py
  actingweb/property.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  docs/sdk/authenticated-views.rst
  pyproject.toml
  tests/integration/test_db_attribute_buckets.py
  tests/integration/test_db_property_range.py
  tests/integration/test_property_list_migration.py
  tests/integration/test_property_lists_advanced.py
  tests/test_attribute.py
  tests/test_attribute_bucket_authority.py
  tests/test_authenticated_bulk_list_reads.py
  tests/test_db_property_get_prefix.py
  tests/test_list_prefix_with_rows.py
  tests/test_property_list_integrity.py
  tests/test_v1_maintenance_scoped_reads.py
  thoughts/plans/2026-08-29-bulk-list-reads-from-a-consumer.md
  thoughts/research/2026-08-29-bulk-list-reads-from-a-consumer.md
  thoughts/todo/INDEX.md
  thoughts/todo/attribute-get-bucket-empty-vs-none.md
  thoughts/todo/attribute-upsert-bucket-drift.md
  thoughts/todo/glob-to-regex-anchoring-gaps.md
  thoughts/todo/prop-list-key-prefix-scheme.md
  thoughts/verifications/2026-08-29-bulk-list-reads-from-a-consumer.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, DynamoDB Backend, PostgreSQL Backend, Database Common

Record consumer evidence that subs_list cache asymmetry is a per-page-load read cost
  thoughts/todo/INDEX.md
  thoughts/todo/subs-list-cache-asymmetry.md
Due: none

Todo review 2026-09-02: close the demo plan, retire row 3, trim row 20, promote row 7
  thoughts/plans/2026-08-22-demo-app-consolidation.md
  thoughts/todo/2026-06-15-postgres-parallel-delete-not-persisting.md
  thoughts/todo/INDEX.md
  thoughts/todo/ai-agent-discoverability-followups.md
  thoughts/todo/ci-postgres-parallel-flakiness.md
Due: none

Path conditions:
  dynamodb: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  postgresql: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Core Modules: any of: actingweb/actor.py, actingweb/config.py, actingweb/auth.py, actingweb/trust.py, actingweb/subscription.py, actingweb/property.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Interface Layer: any of: actingweb/interface/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  HTTP Handlers: any of: actingweb/handlers/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  OAuth System: any of: actingweb/oauth*.py, actingweb/oauth2_server/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  DynamoDB Backend: any of: actingweb/db/dynamodb/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  PostgreSQL Backend: any of: actingweb/db/postgresql/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Database Common: any of: actingweb/db/__init__.py, actingweb/db/protocols.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
