Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

codecov.yml:

# Codecov configuration for ActingWeb
# https://docs.codecov.com/docs/codecovyml-reference
#
# IMPORTANT: Dual Database Backend Coverage
# ActingWeb supports both DynamoDB and PostgreSQL backends.
# Each backend is tested separately in CI/CD using matrix testing.
# Coverage reports are uploaded with backend-specific flags.
# Total coverage is the union of both backend test runs.

coverage:
  # Coverage status checks
  status:
    # Project-wide coverage
    project:
      default:
        # Target coverage percentage (realistic for current codebase)
        target: 40%
        # Allow coverage to drop by up to 2% without failing
        threshold: 2%
        # Only check coverage on files that were changed
        if_ci_failed: error

    # Per-patch coverage (new/changed code)
    patch:
      default:
        # New code should have at least 20% coverage
        # Note: Database backend code is mutually exclusive (DynamoDB vs PostgreSQL)
        # Each backend is tested separately, so patch coverage appears lower
        target: 20%
        threshold: 15%
        # Don't fail CI on patch coverage - backends are tested separately
        if_ci_failed: success

  # Precision of coverage percentages
  precision: 2

  # Round coverage percentages
  round: down

  # Range for coverage colors (red to green)
  range: "30...80"

# Comment configuration for PRs
comment:
  # Show coverage comment
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different test types and backends
flags:
  # Backend-specific flags - coverage is mutually exclusive
  dynamodb:
    paths:
      - actingweb/
    carryforward: true
  postgresql:
    paths:
      - actingweb/
    carryforward: true

# Flag management - merge coverage from both backends
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

# Ignore specific files/paths from coverage
ignore:
  - "tests/**/*"
  - "**/__init__.py"
  - "**/deprecated_*/**"
  - "docs/**/*"
  - "scripts/**/*"

# Component-level coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - actingweb/actor.py
        - actingweb/config.py
        - actingweb/auth.py
        - actingweb/trust.py
        - actingweb/subscription.py
        - actingweb/property.py
    - component_id: interface
      name: Interface Layer
      paths:
        - actingweb/interface/**
    - component_id: handlers
      name: HTTP Handlers
      paths:
        - actingweb/handlers/**
    - component_id: oauth
      name: OAuth System
      paths:
        - actingweb/oauth*.py
        - actingweb/oauth2_server/**
    - component_id: db_dynamodb
      name: DynamoDB Backend
      paths:
        - actingweb/db/dynamodb/**
      flag_regexes:
        - ^dynamodb$
    - component_id: db_postgresql
      name: PostgreSQL Backend
      paths:
        - actingweb/db/postgresql/**
      flag_regexes:
        - ^postgresql$
    - component_id: db_common
      name: Database Common
      paths:
        - actingweb/db/__init__.py
        - actingweb/db/protocols.py

Add ListAttribute and AttributeListStore for attribute-based list storage (#62)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/actor.py
  actingweb/attribute_list.py
  actingweb/attribute_list_store.py
  actingweb/property_list.py
  poetry.lock
  tests/integration/test_attribute_lists_advanced.py
  tests/test_attribute_list.py
  tests/test_attribute_list_store.py
  tests/test_property_list.py
  tests/test_version_consistency.py
  thoughts/shared/plans/2026-01-17-attribute-list-storage.md
Due: dynamodb, postgresql, Core Modules

Add research on potential use from actingweb_mcp
  thoughts/shared/research/2026-01-18-library-extraction-candidates-from-actingweb-mcp.md
Due: none

Fix flaky tests
  tests/integration/test_attributes.py
  tests/integration/test_basic_flow.py
  tests/integration/test_devtest_attributes.py
  tests/integration/test_subscription_flow.py
  tests/integration/test_trust_flow.py
Due: none

Fix_flaky_postgresql_tests (#63)
  tests/integration/test_attributes.py
  tests/integration/test_basic_flow.py
  tests/integration/test_devtest_attributes.py
  tests/integration/test_subscription_flow.py
  tests/integration/test_trust_flow.py
  thoughts/shared/research/2026-01-18-library-extraction-candidates-from-actingweb-mcp.md
Due: none

Add configurable timeout parameter to AwProxy
  CHANGELOG.rst
  actingweb/aw_proxy.py
Due: dynamodb, postgresql

Address PR review feedback
  actingweb/aw_proxy.py
  tests/test_aw_proxy.py
Due: dynamodb, postgresql

Fix ruff linting: move type alias after imports
  actingweb/aw_proxy.py
Due: dynamodb, postgresql

Add configurable timeout parameter to AwProxy (#64)
  CHANGELOG.rst
  actingweb/aw_proxy.py
  tests/test_aw_proxy.py
Due: dynamodb, postgresql

Research and plan, and spec updates
  docs/protocol/actingweb-spec.rst
  thoughts/shared/plans/2026-01-20-auto-subscription-handling.md
  thoughts/shared/research/2026-01-18-library-extraction-candidates-from-actingweb-mcp.md
Due: none

Peer capability support
  actingweb/db/dynamodb/trust.py
  actingweb/db/postgresql/migrations/versions/a1b2c3d4e5f6_add_peer_capabilities.py
  actingweb/db/postgresql/schema.py
  actingweb/db/postgresql/trust.py
  actingweb/interface/trust_manager.py
  actingweb/peer_capabilities.py
  actingweb/trust.py
  tests/integration/test_peer_capabilities_integration.py
  tests/test_peer_capabilities.py
  thoughts/shared/plans/2026-01-20-auto-subscription-handling.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, DynamoDB Backend, PostgreSQL Backend

Complete subscription callback and storage implemented
  actingweb/actor.py
  actingweb/callback_processor.py
  actingweb/config.py
  actingweb/db/dynamodb/subscription_suspension.py
  actingweb/db/postgresql/migrations/versions/b2c3d4e5f6a7_add_subscription_suspensions.py
  actingweb/db/postgresql/schema.py
  actingweb/db/postgresql/subscription_suspension.py
  actingweb/db/protocols.py
  actingweb/fanout.py
  actingweb/interface/__init__.py
  actingweb/interface/app.py
  actingweb/interface/subscription_manager.py
  actingweb/remote_storage.py
  actingweb/subscription_config.py
  tests/test_callback_processor.py
  tests/test_fanout.py
  tests/test_remote_storage.py
  tests/test_subscription_processing.py
  tests/test_subscription_suspension.py
  thoughts/shared/plans/2026-01-20-auto-subscription-handling.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, DynamoDB Backend, PostgreSQL Backend, Database Common

Add docs
  docs/guides/subscriptions.rst
Due: none

Fix tests
  Makefile
  docs/contributing/testing.rst
  tests/integration/test_actor_root_redirect.py
  tests/integration/test_devtest.py
  tests/integration/test_oauth2_security.py
  tests/integration/test_peer_capabilities_integration.py
  tests/integration/test_spa_api.py
  tests/integration/test_www_templates.py
  tests/test_callback_processor.py
  tests/test_fanout.py
  tests/test_remote_storage.py
  thoughts/shared/plans/2026-01-20-auto-subscription-handling.md
Due: none

Add comprehensive integration tests for subscription handling
  tests/integration/conftest.py
  tests/integration/test_fanout_flow.py
  tests/integration/test_harness.py
  tests/integration/test_subscription_processing_flow.py
  tests/integration/test_subscription_suspension_flow.py
Due: none

Lots of docs fixes and add CI/CD doc build job
  .github/workflows/tests.yml
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/handlers/oauth2_callback.py
  actingweb/interface/app.py
  docs/contributing/testing.rst
  docs/guides/mcp-applications.rst
  docs/guides/postgresql-migration.rst
  docs/guides/subscriptions.rst
  docs/guides/troubleshooting.rst
  docs/guides/trust-relationships.rst
  docs/migration/index.rst
  docs/migration/v3.10.rst
  docs/reference/hooks-reference.rst
  docs/reference/interface-api.rst
  thoughts/shared/plans/2026-01-20-auto-subscription-handling.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Add changelog
  CHANGELOG.rst
Due: none

Fix CI failures and address PR review comments
  actingweb/callback_processor.py
  actingweb/db/dynamodb/subscription_suspension.py
  actingweb/db/postgresql/migrations/versions/a1b2c3d4e5f6_add_peer_capabilities.py
  actingweb/db/postgresql/migrations/versions/b2c3d4e5f6a7_add_subscription_suspensions.py
  actingweb/fanout.py
  actingweb/interface/app.py
  conf.py
  tests/integration/conftest.py
  tests/test_callback_processor.py
  tests/test_remote_storage.py
Due: dynamodb, postgresql, Interface Layer, DynamoDB Backend, PostgreSQL Backend

Fix test failures for subscription suspension and hook invocation
  tests/test_subscription_processing.py
  tests/test_subscription_suspension.py
Due: none

Add support for passphrase to SPA token exchange in devtest mode
  CHANGELOG.rst
  actingweb/handlers/oauth2_spa.py
  docs/contributing/testing.rst
  tests/integration/test_oauth2_spa_passphrase.py
  tests/test_oauth2_spa.py
Due: dynamodb, postgresql, HTTP Handlers

Fix tests
  .github/workflows/tests.yml
  CONTRIBUTING.rst
  tests/integration/README.md
Due: none

Fix postgres test failures
  actingweb/db/dynamodb/property_lookup.py
  tests/test_property_lookup.py
Due: dynamodb, postgresql, DynamoDB Backend

Add pull-based sync API for subscriptions
  CHANGELOG.rst
  actingweb/interface/__init__.py
  actingweb/interface/app.py
  actingweb/interface/subscription_manager.py
  tests/integration/test_subscription_sync_flow.py
  tests/test_subscription_sync.py
Due: dynamodb, postgresql, Interface Layer

Support testpypi release
  .github/workflows/publish-to-pypi.yml
  CHANGELOG.rst
  CLAUDE.md
  CONTRIBUTING.rst
  actingweb/__init__.py
  docs/requirements.txt
  pyproject.toml
Due: none

Fix version regex
  CHANGELOG.rst
  tests/test_version_consistency.py
Due: none

Fix flaky tests
  actingweb/db/postgresql/connection.py
Due: dynamodb, postgresql, PostgreSQL Backend

Fix PostgreSQL connection pool exhaustion in CI
  actingweb/db/postgresql/connection.py
Due: dynamodb, postgresql, PostgreSQL Backend

Support testpypi release (#66)
  .github/workflows/publish-to-pypi.yml
  CHANGELOG.rst
  CLAUDE.md
  CONTRIBUTING.rst
  actingweb/__init__.py
  actingweb/db/postgresql/connection.py
  docs/requirements.txt
  pyproject.toml
  tests/test_version_consistency.py
Due: dynamodb, postgresql, PostgreSQL Backend

Add peer profile caching for trust relationships
  CHANGELOG.rst
  actingweb/config.py
  actingweb/constants.py
  actingweb/interface/app.py
  actingweb/interface/subscription_manager.py
  actingweb/interface/trust_manager.py
  actingweb/peer_profile.py
  docs/guides/trust-relationships.rst
  docs/quickstart/configuration.rst
  docs/reference/hooks-reference.rst
  docs/sdk/actor-interface.rst
  tests/integration/test_peer_profile.py
  tests/test_peer_profile_unit.py
Due: dynamodb, postgresql, Core Modules, Interface Layer

Fix PostgreSQL test isolation and ruff B010 errors
  actingweb/mcp/decorators.py
  tests/integration/test_peer_profile.py
Due: dynamodb, postgresql

Fix PR review issues and PostgreSQL test isolation
  actingweb/peer_capabilities.py
  actingweb/peer_profile.py
  tests/integration/test_harness.py
Due: dynamodb, postgresql

Fix failing tests
  actingweb/db/postgresql/trust.py
  actingweb/handlers/www.py
  actingweb/trust.py
  tests/integration/test_oauth2_security.py
  tests/integration/test_trust_oauth_integration.py
Due: dynamodb, postgresql, Core Modules, HTTP Handlers, PostgreSQL Backend

Fix review comment
  actingweb/interface/app.py
Due: dynamodb, postgresql, Interface Layer

Fix test fixture
  tests/integration/test_trust_oauth_integration.py
Due: none

Fix dynamodb tests running as part of postgresql job
  tests/test_db_protocols.py
Due: none

Same fix, different file
  tests/integration/test_attribute_lists_advanced.py
Due: none

Further similar tests fixed
  tests/integration/test_oauth2_client_manager.py
  tests/integration/test_property_lists_advanced.py
  tests/integration/test_runtime_context_advanced.py
  tests/integration/test_trust_permissions_patterns.py
  tests/integration/test_trust_types_custom.py
  tests/integration/test_ttl_cleanup.py
Due: none

Add logging security hardening, subscription baseline fetch, and list property improvements
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/auth.py
  actingweb/aw_proxy.py
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/db/postgresql/property_lookup.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/handlers/properties.py
  actingweb/handlers/subscription.py
  actingweb/handlers/trust.py
  actingweb/interface/subscription_manager.py
  actingweb/oauth2_server/state_manager.py
  actingweb/oauth2_server/token_manager.py
  tests/integration/test_spa_api.py
  tests/test_subscription_sync.py
  thoughts/shared/plans/refactor_unified_permission_handling.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend
