Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

codecov.yml:

# Codecov configuration for ActingWeb
# https://docs.codecov.com/docs/codecovyml-reference
#
# IMPORTANT: Dual Database Backend Coverage
# ActingWeb supports both DynamoDB and PostgreSQL backends.
# Each backend is tested separately in CI/CD using matrix testing.
# Coverage reports are uploaded with backend-specific flags.
# Total coverage is the union of both backend test runs.

coverage:
  # Coverage status checks
  status:
    # Project-wide coverage
    project:
      default:
        # Target coverage percentage (realistic for current codebase)
        target: 40%
        # Allow coverage to drop by up to 2% without failing
        threshold: 2%
        # Only check coverage on files that were changed
        if_ci_failed: error

    # Per-patch coverage (new/changed code)
    patch:
      default:
        # New code should have at least 20% coverage
        # Note: Database backend code is mutually exclusive (DynamoDB vs PostgreSQL)
        # Each backend is tested separately, so patch coverage appears lower
        target: 20%
        threshold: 15%
        # Don't fail CI on patch coverage - backends are tested separately
        if_ci_failed: success

  # Precision of coverage percentages
  precision: 2

  # Round coverage percentages
  round: down

  # Range for coverage colors (red to green)
  range: "30...80"

# Comment configuration for PRs
comment:
  # Show coverage comment
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different test types and backends
flags:
  # Backend-specific flags - coverage is mutually exclusive
  dynamodb:
    paths:
      - actingweb/
    carryforward: true
  postgresql:
    paths:
      - actingweb/
    carryforward: true

# Flag management - merge coverage from both backends
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

# Ignore specific files/paths from coverage
ignore:
  - "tests/**/*"
  - "**/__init__.py"
  - "**/deprecated_*/**"
  - "docs/**/*"
  - "scripts/**/*"

# Component-level coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - actingweb/actor.py
        - actingweb/config.py
        - actingweb/auth.py
        - actingweb/trust.py
        - actingweb/subscription.py
        - actingweb/property.py
    - component_id: interface
      name: Interface Layer
      paths:
        - actingweb/interface/**
    - component_id: handlers
      name: HTTP Handlers
      paths:
        - actingweb/handlers/**
    - component_id: oauth
      name: OAuth System
      paths:
        - actingweb/oauth*.py
        - actingweb/oauth2_server/**
    - component_id: db_dynamodb
      name: DynamoDB Backend
      paths:
        - actingweb/db/dynamodb/**
      flag_regexes:
        - ^dynamodb$
    - component_id: db_postgresql
      name: PostgreSQL Backend
      paths:
        - actingweb/db/postgresql/**
      flag_regexes:
        - ^postgresql$
    - component_id: db_common
      name: Database Common
      paths:
        - actingweb/db/__init__.py
        - actingweb/db/protocols.py

Fix regression test resource URIs to use allowed patterns
  tests/integration/test_mcp_resource_regression.py
Due: none

Prepare for beta3 (#81)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/async_mcp.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  tests/integration/test_mcp_resource_regression.py
Due: dynamodb, postgresql, HTTP Handlers

Flatten out thoughts dir
  thoughts/completed/2025-12-14-callbacks-handler-refactoring.md
  thoughts/completed/2025-12-14-handler-refactoring-initiative-complete.md
  thoughts/completed/2025-12-14-properties-handler-refactoring.md
  thoughts/completed/2025-12-14-subscription-handler-refactoring.md
  thoughts/completed/2025-12-14-trust-handler-refactoring.md
  thoughts/completed/2026-01-25-subscription-list-property-bug-fix.md
  thoughts/completed/2026-01-29-subscription-callback-flows.md
  thoughts/patterns/handler-refactoring-pattern.md
  thoughts/plans/2025-10-02-rest-test-suite-implementation.md
  thoughts/plans/2025-10-03-actingweb-mcp-protection-tests.md
  thoughts/plans/2025-12-12-unified-handler-architecture.md
  thoughts/plans/2025-12-13-unified-handler-gaps.md
  thoughts/plans/2025-12-14-properties-handler-refactoring.md
  thoughts/plans/2025-12-14-remaining-handlers-analysis.md
  thoughts/plans/2025-12-18-passphrase-login-feature.md
  thoughts/plans/2025-12-18-test-coverage-improvements.md
  thoughts/plans/2025-12-26-attribute-storage-maintenance.md
  thoughts/plans/2025-12-30-postgresql-backend-implementation.md
  thoughts/plans/2026-01-14-async-hooks-implementation.md
  thoughts/plans/2026-01-14-property-lookup-table.md
  thoughts/plans/2026-01-15-subscription-suspension-resync.md
  thoughts/plans/2026-01-17-attribute-list-storage.md
  thoughts/plans/2026-01-20-auto-subscription-handling.md
  thoughts/plans/2026-01-23-refactor_unified_permission_handling.md
  thoughts/plans/2026-01-25-fastapi-async-handler-optimization.md
  thoughts/plans/2026-02-01-subscription-sync-redundancy-fix.md
  thoughts/research/2025-12-12-unified-handler-architecture.md
  thoughts/research/2025-12-18-test-coverage-improvement-priorities.md
  thoughts/research/2026-01-18-library-extraction-candidates-from-actingweb-mcp.md
Due: none

Schema fix
  actingweb/db/postgresql/migrations/versions/c3d4e5f6a7b8_drop_properties_value_index.py
  actingweb/db/postgresql/schema.py
Due: dynamodb, postgresql, PostgreSQL Backend

Remove user content from debug logging
  CHANGELOG.rst
  actingweb/actor.py
Due: dynamodb, postgresql, Core Modules

Address PR review: fix logging labels and update docs
  CLAUDE.md
  actingweb/actor.py
Due: dynamodb, postgresql, Core Modules

Minor_fixes (#83)
  CHANGELOG.rst
  CLAUDE.md
  actingweb/actor.py
  actingweb/db/postgresql/migrations/versions/c3d4e5f6a7b8_drop_properties_value_index.py
  actingweb/db/postgresql/schema.py
  thoughts/completed/2025-12-14-callbacks-handler-refactoring.md
  thoughts/completed/2025-12-14-handler-refactoring-initiative-complete.md
  thoughts/completed/2025-12-14-properties-handler-refactoring.md
  thoughts/completed/2025-12-14-subscription-handler-refactoring.md
  thoughts/completed/2025-12-14-trust-handler-refactoring.md
  thoughts/completed/2026-01-25-subscription-list-property-bug-fix.md
  thoughts/completed/2026-01-29-subscription-callback-flows.md
  thoughts/patterns/handler-refactoring-pattern.md
  thoughts/plans/2025-10-02-rest-test-suite-implementation.md
  thoughts/plans/2025-10-03-actingweb-mcp-protection-tests.md
  thoughts/plans/2025-12-12-unified-handler-architecture.md
  thoughts/plans/2025-12-13-unified-handler-gaps.md
  thoughts/plans/2025-12-14-properties-handler-refactoring.md
  thoughts/plans/2025-12-14-remaining-handlers-analysis.md
  thoughts/plans/2025-12-18-passphrase-login-feature.md
  thoughts/plans/2025-12-18-test-coverage-improvements.md
  thoughts/plans/2025-12-26-attribute-storage-maintenance.md
  thoughts/plans/2025-12-30-postgresql-backend-implementation.md
  thoughts/plans/2026-01-14-async-hooks-implementation.md
  thoughts/plans/2026-01-14-property-lookup-table.md
  thoughts/plans/2026-01-15-subscription-suspension-resync.md
  thoughts/plans/2026-01-17-attribute-list-storage.md
  thoughts/plans/2026-01-20-auto-subscription-handling.md
  thoughts/plans/2026-01-23-refactor_unified_permission_handling.md
  thoughts/plans/2026-01-25-fastapi-async-handler-optimization.md
  thoughts/plans/2026-02-01-subscription-sync-redundancy-fix.md
  thoughts/research/2025-12-12-unified-handler-architecture.md
  thoughts/research/2025-12-18-test-coverage-improvement-priorities.md
  thoughts/research/2026-01-18-library-extraction-candidates-from-actingweb-mcp.md
Due: dynamodb, postgresql, Core Modules, PostgreSQL Backend

Add research and plan
  thoughts/plans/2026-02-24-github-auth-actingweb-library.md
  thoughts/research/2026-02-24-github-auth-provider.md
Due: none

Review fixes
  actingweb/handlers/factory.py
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/handlers/oauth2_spa.py
  actingweb/interface/app.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/oauth2.py
  actingweb/oauth2_server/oauth2_server.py
  actingweb/oauth2_server/token_manager.py
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers, OAuth System

Add multi-provider OAuth support (Google + GitHub simultaneously)
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/auth.py
  actingweb/config.py
  actingweb/handlers/factory.py
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/handlers/oauth2_spa.py
  actingweb/interface/app.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/oauth2.py
  actingweb/oauth2_server/oauth2_server.py
  actingweb/oauth2_server/state_manager.py
  docs/guides/authentication.rst
  docs/guides/oauth-login-flow.md
  docs/guides/spa-authentication.rst
  docs/migration/v3.10.rst
  docs/quickstart/configuration.rst
  docs/quickstart/getting-started.rst
  docs/reference/security.rst
  tests/integration/test_mcp_resource_regression.py
  tests/integration/test_subscription_lifecycle_hooks.py
  tests/test_actingweb_app.py
  thoughts/plans/2026-02-24-github-auth-actingweb-library.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System

Loosen dependency constraints and update dev dependencies
  CHANGELOG.rst
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Add SPA email verification flow and fix provider token revocation on logout
  CHANGELOG.rst
  actingweb/constants.py
  actingweb/handlers/email_verification.py
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/handlers/oauth2_spa.py
  actingweb/handlers/oauth_email.py
  actingweb/interface/integrations/fastapi_integration.py
  docs/guides/authentication.rst
  docs/guides/oauth-login-flow.md
  docs/guides/spa-authentication.rst
  docs/migration/v3.10.rst
  thoughts/plans/2026-02-24-github-auth-actingweb-library.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Add multi-provider OAuth support (Google + GitHub) (#84)
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/auth.py
  actingweb/config.py
  actingweb/constants.py
  actingweb/handlers/email_verification.py
  actingweb/handlers/factory.py
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/handlers/oauth2_spa.py
  actingweb/handlers/oauth_email.py
  actingweb/interface/app.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/oauth2.py
  actingweb/oauth2_server/oauth2_server.py
  actingweb/oauth2_server/state_manager.py
  actingweb/oauth2_server/token_manager.py
  docs/guides/authentication.rst
  docs/guides/oauth-login-flow.md
  docs/guides/spa-authentication.rst
  docs/migration/v3.10.rst
  docs/quickstart/configuration.rst
  docs/quickstart/getting-started.rst
  docs/reference/security.rst
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  tests/integration/test_mcp_resource_regression.py
  tests/integration/test_subscription_lifecycle_hooks.py
  tests/test_actingweb_app.py
  thoughts/plans/2026-02-24-github-auth-actingweb-library.md
  thoughts/research/2026-02-24-github-auth-provider.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System

Pre-release v3.10.0b4
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Pre-release v3.10.0b4 (#85)
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Remove error logging for non-error
  actingweb/actor.py
Due: dynamodb, postgresql, Core Modules

Release v3.10.0rc1
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Address PR review: add three missing changelog entries
  CHANGELOG.rst
Due: none

Release v3.10.0rc1 (#86)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/actor.py
  pyproject.toml
Due: dynamodb, postgresql, Core Modules

Release v3.10.0
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Add back list property diff callback fix to changelog
  CHANGELOG.rst
Due: none

Release v3.10.0 (#88)
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Remove redundant post-merge test runs
  .github/workflows/tests.yml
Due: none

Poetry update and fix venv support in vscode
  .vscode/settings.json
  poetry.lock
Due: none

Remove redundant post-merge test runs (#89)
  .github/workflows/tests.yml
  .vscode/settings.json
  poetry.lock
Due: none

Fix Starlette 1.0 TemplateResponse breaking change
  CHANGELOG.rst
  actingweb/interface/integrations/fastapi_integration.py
  docs/requirements.txt
  pyproject.toml
Due: dynamodb, postgresql, Interface Layer

Address PR review: sync version, document Starlette requirement, add template tests
  CHANGELOG.rst
  actingweb/__init__.py
  tests/test_fastapi_template_response.py
Due: none

Fix Starlette 1.0 TemplateResponse breaking change (#95)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/interface/integrations/fastapi_integration.py
  docs/requirements.txt
  pyproject.toml
  tests/test_fastapi_template_response.py
Due: dynamodb, postgresql, Interface Layer

Initial plan
  thoughts/plans/2026-04-05-mobile-oauth2-support.md
Due: none

Upgrade GH actions
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/tests.yml
Due: none

Add mobile app OAuth2 support (authorization code exchange)
  actingweb/handlers/oauth2_spa.py
  actingweb/oauth2.py
  docs/guides/authentication.rst
  docs/guides/oauth-login-flow.md
  docs/guides/spa-authentication.rst
  docs/reference/security.rst
  tests/test_mobile_oauth2.py
  thoughts/plans/2026-04-05-mobile-oauth2-support.md
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Add changelog entry for mobile OAuth2 support
  CHANGELOG.rst
Due: none

Fix mobile OAuth2 review issues: input validation, double lookup, test coverage
  actingweb/handlers/oauth2_spa.py
  actingweb/oauth2.py
  tests/test_mobile_oauth2.py
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Pre-release v3.10.2b1
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Add mobile app OAuth2 support (authorization code exchange) (#96)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/tests.yml
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/oauth2_spa.py
  actingweb/oauth2.py
  docs/guides/authentication.rst
  docs/guides/oauth-login-flow.md
  docs/guides/spa-authentication.rst
  docs/reference/security.rst
  pyproject.toml
  tests/test_mobile_oauth2.py
  thoughts/plans/2026-04-05-mobile-oauth2-support.md
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Release v3.10.2b2: MCP tool per-actor visibility and description predicates
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/mcp.py
  actingweb/mcp/decorators.py
  actingweb/mcp/sdk_server.py
  pyproject.toml
  tests/test_mcp_tool_visibility.py
Due: dynamodb, postgresql, HTTP Handlers

Fix B023 loop-variable closure in MCP visibility tests
  tests/test_mcp_tool_visibility.py
Due: none

Address PR #97 review: description_predicate tests, CHANGELOG warning
  CHANGELOG.rst
  actingweb/mcp/sdk_server.py
  tests/test_mcp_tool_visibility.py
Due: dynamodb, postgresql

Release v3.10.2b2: MCP tool per-actor visibility and description predicates (#97)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/mcp.py
  actingweb/mcp/decorators.py
  actingweb/mcp/sdk_server.py
  pyproject.toml
  tests/test_mcp_tool_visibility.py
Due: dynamodb, postgresql, HTTP Handlers

Pre-release v3.10.2b3: Configurable MCP server name
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/mcp/sdk_server.py
  pyproject.toml
Due: dynamodb, postgresql
