Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Upgrade packages
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Add property lookup tables to remove size limits for reverse lookups
  CLAUDE.md
  actingweb/config.py
  actingweb/db/dynamodb/__init__.py
  actingweb/db/dynamodb/property.py
  actingweb/db/dynamodb/property_lookup.py
  actingweb/db/postgresql/__init__.py
  actingweb/db/postgresql/migrations/versions/70d60420526_add_property_lookup_table.py
  actingweb/db/postgresql/property.py
  actingweb/db/postgresql/property_lookup.py
  actingweb/db/postgresql/schema.py
  actingweb/interface/app.py
  docs/quickstart/configuration.rst
  tests/test_property_lookup.py
  thoughts/shared/plans/2026-01-14-property-lookup-table.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, DynamoDB Backend, PostgreSQL Backend

Update CHANGELOG for v3.9.0 with property lookup tables feature
  CHANGELOG.rst
Due: none

Fix property lookup table auto-creation
  actingweb/db/dynamodb/property.py
Due: dynamodb, postgresql, DynamoDB Backend

Fix property lookup tests with correct assumptions
  tests/test_property_lookup.py
Due: none

Fix pyright type errors for Python 3.11 compatibility
  actingweb/interface/integrations/base_integration.py
  actingweb/mcp/decorators.py
Due: dynamodb, postgresql, Interface Layer

Make property_lookup foreign key deferrable for test compatibility
  actingweb/db/postgresql/migrations/versions/70d60420526_add_property_lookup_table.py
Due: dynamodb, postgresql, PostgreSQL Backend

Fix property_lookup tests to create actors for PostgreSQL FK constraint
  tests/test_property_lookup.py
Due: none

Fix date
  CHANGELOG.rst
Due: none

Fix actor creation parameters in test fixture
  tests/test_property_lookup.py
Due: none

Only create PostgreSQL actors when DATABASE_BACKEND=postgresql
  tests/test_property_lookup.py
Due: none

Skip PostgreSQL tests in dynamodb CI job
  tests/test_property_lookup.py
Due: none

Fix test warnings and skip PostgreSQL tests when unavailable
  tests/test_oauth_session.py
  tests/test_property_lookup.py
Due: none

Fix Pylance error for nested class accessing outer scope
  tests/test_oauth_session.py
Due: none

Simplify PostgreSQL test skip logic to avoid timeout
  tests/test_property_lookup.py
Due: none

Prevent skip fixture from affecting other test files
  tests/test_property_lookup.py
Due: none

Fix merge issues and test failures after improve_async_support integration
  CHANGELOG.rst
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/migrations/versions/70d60420526_add_property_lookup_table.py
  actingweb/db/postgresql/property.py
  actingweb/interface/integrations/base_integration.py
  actingweb/mcp/decorators.py
  docs/quickstart/configuration.rst
  tests/test_oauth_session.py
  tests/test_property_lookup.py
Due: dynamodb, postgresql, Interface Layer, DynamoDB Backend, PostgreSQL Backend

Fix for async hooks in sync context
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/interface/hooks.py
  pyproject.toml
  tests/test_async_hooks.py
Due: dynamodb, postgresql, Interface Layer

New test proposed by review
  tests/test_async_hooks.py
Due: none

Support doing sync callback send on diffs
  CLAUDE.md
  actingweb/actor.py
  actingweb/config.py
  actingweb/interface/app.py
  docs/guides/subscriptions.rst
  docs/quickstart/configuration.rst
  docs/quickstart/deployment.rst
Due: dynamodb, postgresql, Core Modules, Interface Layer

Include sequence in subscription GET
  actingweb/handlers/subscription.py
  docs/protocol/actingweb-spec.rst
  tests/integration/test_subscription_flow.py
Due: dynamodb, postgresql, HTTP Handlers

Add resync optional to spec
  docs/protocol/actingweb-spec.rst
  thoughts/shared/plans/TODO-2026-01-15-subscription-suspension-resync.md
Due: none

Changelog and bump version
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Fix exception handling and add sync callback tests
  actingweb/actor.py
  tests/test_subscription_callbacks.py
Due: dynamodb, postgresql, Core Modules

Fix test isolation by moving Actor import inside fixtures
  tests/test_subscription_callbacks.py
Due: none

Fixing flaky tests
  CHANGELOG.rst
  actingweb/actor.py
  tests/integration/conftest.py
Due: dynamodb, postgresql, Core Modules

Switch to tag-based releases
  .github/workflows/publish-to-pypi.yml
  CHANGELOG.rst
  CLAUDE.md
Due: none

Improve changelog extraction robustness
  .github/workflows/publish-to-pypi.yml
Due: none

Remove redundant test job from release workflow
  .github/workflows/publish-to-pypi.yml
Due: none

Fix flaky test_www_with_oauth_cookie test
  tests/integration/test_www_templates.py
Due: none

Add async trust handlers to fix flaky tests
  actingweb/actor.py
  actingweb/handlers/async_trust.py
  actingweb/interface/integrations/base_integration.py
  actingweb/interface/trust_manager.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Improve logging for callbacks
  actingweb/actor.py
Due: dynamodb, postgresql, Core Modules

Add ListAttribute and AttributeListStore for attribute-based list storage
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/attribute_list.py
  actingweb/attribute_list_store.py
  poetry.lock
  tests/integration/test_attribute_lists_advanced.py
  tests/test_attribute_list.py
  tests/test_attribute_list_store.py
  thoughts/shared/plans/2026-01-17-attribute-list-storage.md
Due: dynamodb, postgresql

Address code review feedback for ListAttribute and AttributeListStore
  actingweb/attribute_list.py
  actingweb/attribute_list_store.py
  tests/test_attribute_list.py
Due: dynamodb, postgresql

Fix pyright error: handle possibly unbound variable in error handling
  actingweb/attribute_list.py
Due: dynamodb, postgresql

Add get_metadata() method to ListProperty and ListAttribute
  CHANGELOG.rst
  actingweb/attribute_list.py
  actingweb/property_list.py
  tests/test_attribute_list.py
  tests/test_property_list.py
Due: dynamodb, postgresql

Update version consistency tests for git tag-based releases
  tests/test_version_consistency.py
Due: none

Remove unused datetime import from test_version_consistency.py
  tests/test_version_consistency.py
Due: none

Path conditions:
  dynamodb: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  postgresql: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Core Modules: any of: actingweb/actor.py, actingweb/config.py, actingweb/auth.py, actingweb/trust.py, actingweb/subscription.py, actingweb/property.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Interface Layer: any of: actingweb/interface/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  HTTP Handlers: any of: actingweb/handlers/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  OAuth System: any of: actingweb/oauth*.py, actingweb/oauth2_server/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  DynamoDB Backend: any of: actingweb/db/dynamodb/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  PostgreSQL Backend: any of: actingweb/db/postgresql/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Database Common: any of: actingweb/db/__init__.py, actingweb/db/protocols.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
