Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Property sync fixes.
  CHANGELOG.rst
  actingweb/handlers/properties.py
  actingweb/remote_storage.py
  tests/test_transparent_hook_permissions.py
Due: dynamodb, postgresql, HTTP Handlers

Further fixes
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/postgresql/property.py
  actingweb/db/utils.py
  actingweb/handlers/actions.py
  actingweb/handlers/methods.py
  actingweb/handlers/properties.py
  actingweb/interface/subscription_manager.py
  actingweb/permission_evaluator.py
  actingweb/remote_storage.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, DynamoDB Backend, PostgreSQL Backend

Fix subscription callback sequence persistence and processing bugs
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/callback_processor.py
  actingweb/db/dynamodb/subscription.py
  actingweb/db/postgresql/subscription.py
  actingweb/db/utils.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/subscription.py
  actingweb/interface/app.py
  actingweb/interface/subscription_manager.py
  actingweb/remote_storage.py
  actingweb/subscription.py
  actingweb/subscription_config.py
  tests/integration/test_subscription_callback_flows.py
  tests/test_callback_processor.py
  tests/test_subscription_core.py
  tests/test_subscription_processing.py
  tests/test_subscription_sync.py
  thoughts/shared/completed/2026-01-29-subscription-callback-flows.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, DynamoDB Backend, PostgreSQL Backend

Refactor trust deletion cleanup from hooks to core implementation
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/aw_proxy.py
  actingweb/callback_processor.py
  actingweb/handlers/actions.py
  actingweb/handlers/devtest.py
  actingweb/handlers/methods.py
  actingweb/handlers/properties.py
  actingweb/interface/app.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/subscription_manager.py
  actingweb/permission_evaluator.py
  actingweb/subscription.py
  actingweb/subscription_config.py
  tests/integration/test_subscription_callback_flows.py
  tests/integration/test_subscription_flow.py
  tests/integration/test_subscription_processing_flow.py
  tests/test_auth_context_integration.py
  tests/test_callback_processor.py
  tests/test_proxy_correlation.py
  tests/test_remote_storage.py
  tests/test_subscription_callbacks.py
  tests/test_subscription_core.py
  tests/test_subscription_processing.py
  tests/test_subscription_sync.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Review fixes and prep for b1 release
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/actor.py
  actingweb/db/utils.py
  actingweb/interface/subscription_manager.py
  actingweb/subscription.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  tests/integration/test_subscription_callback_flows.py
Due: dynamodb, postgresql, Core Modules, Interface Layer

Clean up deferred and resync callbacks
  CLAUDE.md
  actingweb/actor.py
  actingweb/handlers/callbacks.py
  actingweb/subscription.py
  docs/guides/subscriptions.rst
  docs/quickstart/configuration.rst
  docs/quickstart/deployment.rst
  tests/integration/test_subscription_processing_flow.py
  tests/integration/test_subscription_suspension_flow.py
Due: dynamodb, postgresql, Core Modules, HTTP Handlers

Many fixes
  actingweb/actor.py
  actingweb/config.py
  actingweb/handlers/callbacks.py
  actingweb/peer_capabilities.py
  docs/guides/subscriptions.rst
  tests/integration/test_subscription_suspension_flow.py
Due: dynamodb, postgresql, Core Modules, HTTP Handlers

ruff fixes
  actingweb/handlers/callbacks.py
  tests/integration/test_subscription_suspension_flow.py
Due: dynamodb, postgresql, HTTP Handlers

Fix revoked trust detection and subscription cleanup
  actingweb/attribute_list.py
  actingweb/aw_proxy.py
  actingweb/interface/subscription_manager.py
  actingweb/peer_permissions.py
  poetry.lock
  tests/test_revoked_trust_detection.py
Due: dynamodb, postgresql, Interface Layer

Fix hook lokup bug
  actingweb/interface/subscription_manager.py
Due: dynamodb, postgresql, Interface Layer

Improve parallel test isolation and reduce flakiness
  .github/workflows/tests.yml
  CHANGELOG.rst
  poetry.lock
  pyproject.toml
  tests/integration/XDIST_GROUPS.md
  tests/integration/conftest.py
  tests/integration/utils/oauth2_helper.py
  tests/integration/verify_groups.py
Due: none

Enhance test results summary with flakiness details
  .github/workflows/tests.yml
Due: none

Improve parallel test isolation and reduce flakiness (#77)
  .github/workflows/tests.yml
  CHANGELOG.rst
  poetry.lock
  pyproject.toml
  tests/integration/XDIST_GROUPS.md
  tests/integration/conftest.py
  tests/integration/utils/oauth2_helper.py
  tests/integration/verify_groups.py
Due: none

subscription baseline sync issues
  actingweb/handlers/callbacks.py
  actingweb/interface/subscription_manager.py
  docs/sdk/async-operations.rst
  docs/sdk/developer-api.rst
  tests/test_subscription_baseline_fetch.py
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Address PR review feedback and fix critical issues
  actingweb/aw_proxy.py
  actingweb/handlers/callbacks.py
  actingweb/interface/subscription_manager.py
  tests/test_revoked_trust_detection.py
  tests/test_subscription_baseline_fetch.py
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Fix test failures: Add _subscription_config to FakeConfig
  tests/test_subscription_baseline_fetch.py
Due: none

Add changelog entries for subscription sync and error handling improvements
  CHANGELOG.rst
Due: none

Remove diagnostic logging and clean up debug verbosity
  actingweb/attribute_list.py
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/properties.py
  actingweb/interface/subscription_manager.py
  actingweb/remote_storage.py
  docs/guides/property-lists.rst
  docs/protocol/actingweb-spec.rst
  tests/integration/test_peer_profile_extraction.py
  tests/integration/test_spa_api.py
  tests/integration/test_subscription_baseline_storage.py
  tests/test_subscription_baseline_fetch.py
  tests/test_subscription_manager.py
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers, DynamoDB Backend, PostgreSQL Backend

Improve RemotePeerStorage
  CHANGELOG.rst
  actingweb/remote_storage.py
  docs/guides/subscriptions.rst
  tests/test_remote_storage.py
Due: dynamodb, postgresql

Fix aw_proxy wrong error code returned
  CHANGELOG.rst
  actingweb/aw_proxy.py
Due: dynamodb, postgresql

Fix property deletion via subscription diff callbacks
  CHANGELOG.rst
  actingweb/remote_storage.py
Due: dynamodb, postgresql

Fix CI errors
  actingweb/handlers/properties.py
  tests/integration/XDIST_GROUPS.md
  tests/integration/test_subscription_baseline_storage.py
Due: dynamodb, postgresql, HTTP Handlers

Fix permission diff asymmetry, add incremental sync and capability cache staleness
  CHANGELOG.rst
  actingweb/config.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/permissions.py
  actingweb/interface/app.py
  actingweb/interface/subscription_manager.py
  actingweb/trust_permissions.py
  docs/guides/trust-relationships.rst
  docs/migration/v3.10.rst
  docs/protocol/actingweb-spec.rst
  docs/quickstart/configuration.rst
  tests/test_permissions_handler.py
  tests/test_trust_permissions_unit.py
  thoughts/shared/plans/2026-02-01-subscription-sync-redundancy-fix.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Fix non-destructive resync and permission format normalization
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/trust.py
  actingweb/peer_permissions.py
  actingweb/permission_integration.py
  actingweb/remote_storage.py
  actingweb/trust_permissions.py
  tests/test_peer_permissions_unit.py
  tests/test_remote_storage.py
Due: dynamodb, postgresql, Core Modules, HTTP Handlers

Increase subscription_manager.py test coverage
  tests/integration/test_subscription_sync_coverage.py
  tests/test_subscription_manager.py
  tests/test_subscription_manager_helpers.py
Due: none

Fix tests
  tests/integration/XDIST_GROUPS.md
  tests/integration/test_subscription_sync_coverage.py
Due: none

Fix subscription baseline sync and trust cleanup issues (#78)
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/attribute_list.py
  actingweb/aw_proxy.py
  actingweb/config.py
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/permissions.py
  actingweb/handlers/properties.py
  actingweb/handlers/trust.py
  actingweb/interface/app.py
  actingweb/interface/subscription_manager.py
  actingweb/peer_permissions.py
  actingweb/permission_integration.py
  actingweb/remote_storage.py
  actingweb/trust_permissions.py
  docs/guides/property-lists.rst
  docs/guides/subscriptions.rst
  docs/guides/trust-relationships.rst
  docs/migration/v3.10.rst
  docs/protocol/actingweb-spec.rst
  docs/quickstart/configuration.rst
  docs/sdk/async-operations.rst
  docs/sdk/developer-api.rst
  poetry.lock
  tests/integration/XDIST_GROUPS.md
  tests/integration/test_peer_profile_extraction.py
  tests/integration/test_spa_api.py
  tests/integration/test_subscription_baseline_storage.py
  tests/integration/test_subscription_sync_coverage.py
  tests/test_peer_permissions_unit.py
  tests/test_permissions_handler.py
  tests/test_remote_storage.py
  tests/test_revoked_trust_detection.py
  tests/test_subscription_baseline_fetch.py
  tests/test_subscription_manager.py
  tests/test_subscription_manager_helpers.py
  tests/test_trust_permissions_unit.py
  thoughts/shared/plans/2026-02-01-subscription-sync-redundancy-fix.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, DynamoDB Backend, PostgreSQL Backend

Add subscription_deleted lifecycle hook and fix RemotePeerStore cleanup
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/subscription.py
  actingweb/interface/actor_interface.py
  actingweb/interface/hooks.py
  actingweb/interface/subscription_manager.py
  actingweb/peer_permissions.py
  actingweb/remote_storage.py
  actingweb/subscription.py
  docs/guides/hooks.rst
  docs/reference/hooks-reference.rst
  tests/integration/test_peer_profile_extraction.py
  tests/integration/test_subscription_baseline_storage.py
  tests/test_remote_storage.py
  tests/test_subscription_sync.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Fix PR review issues: RemotePeerStore cleanup timing and hook execution
  actingweb/actor.py
  actingweb/handlers/subscription.py
Due: dynamodb, postgresql, Core Modules, HTTP Handlers

Add integration tests and documentation for subscription lifecycle
  CHANGELOG.rst
  docs/sdk/developer-api.rst
  tests/integration/test_subscription_lifecycle_hooks.py
Due: none

Document new xdist groups for subscription lifecycle tests
  tests/integration/XDIST_GROUPS.md
Due: none

Add subscription_deleted lifecycle hook and fix RemotePeerStore cleanup (#79)
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/subscription.py
  actingweb/interface/actor_interface.py
  actingweb/interface/hooks.py
  actingweb/interface/subscription_manager.py
  actingweb/peer_permissions.py
  actingweb/remote_storage.py
  actingweb/subscription.py
  docs/guides/hooks.rst
  docs/reference/hooks-reference.rst
  docs/sdk/developer-api.rst
  tests/integration/XDIST_GROUPS.md
  tests/integration/test_peer_profile_extraction.py
  tests/integration/test_subscription_baseline_storage.py
  tests/integration/test_subscription_lifecycle_hooks.py
  tests/test_remote_storage.py
  tests/test_subscription_sync.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Prepare for release
  CHANGELOG.rst
  actingweb/__init__.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Prepare for release (#80)
  CHANGELOG.rst
  actingweb/__init__.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Fix async MCP handler resource lookup
  CHANGELOG.rst
  actingweb/handlers/async_mcp.py
Due: dynamodb, postgresql, HTTP Handlers

Prepare for beta3
  CHANGELOG.rst
  actingweb/__init__.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Add regression tests for async MCP resource handler bug fixes
  tests/integration/test_mcp_resource_regression.py
Due: none

Path conditions:
  dynamodb: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  postgresql: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Core Modules: any of: actingweb/actor.py, actingweb/config.py, actingweb/auth.py, actingweb/trust.py, actingweb/subscription.py, actingweb/property.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Interface Layer: any of: actingweb/interface/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  HTTP Handlers: any of: actingweb/handlers/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  OAuth System: any of: actingweb/oauth*.py, actingweb/oauth2_server/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  DynamoDB Backend: any of: actingweb/db/dynamodb/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  PostgreSQL Backend: any of: actingweb/db/postgresql/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Database Common: any of: actingweb/db/__init__.py, actingweb/db/protocols.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
