Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Redesign property lookup table: v2 digest keys, no stored values
  CHANGELOG.rst
  actingweb/db/dynamodb/__init__.py
  actingweb/db/dynamodb/property.py
  actingweb/db/dynamodb/property_lookup.py
  actingweb/db/postgresql/property.py
  actingweb/db/postgresql/property_lookup.py
  actingweb/interface/app.py
  docs/quickstart/configuration.rst
  docs/reference/security.rst
  tests/test_property_lookup.py
  tests/test_property_lookup_v2.py
Due: dynamodb, postgresql, Interface Layer, DynamoDB Backend, PostgreSQL Backend

Match fresh properties-table schema to the reverse-lookup mode
  CHANGELOG.rst
  actingweb/db/dynamodb/__init__.py
  actingweb/db/dynamodb/property.py
  actingweb/interface/app.py
  tests/test_conditional_gsi_schema.py
  tests/test_hot_path_n_plus_one.py
  tests/test_mcp_server_name.py
  tests/test_oauth2_callback_github_normalization.py
  tests/test_oauth2_callback_spa_error.py
  tests/test_oauth2_spa.py
  tests/test_property_lookup.py
  tests/test_property_lookup_v2.py
  tests/test_user_info_normalization.py
Due: dynamodb, postgresql, Interface Layer, DynamoDB Backend

Default to lookup-table reverse lookup, with migration machinery
  CHANGELOG.rst
  README.rst
  actingweb/config.py
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/interface/app.py
  docs/contributing/architecture.rst
  docs/guides/database-maintenance.rst
  docs/migration/index.rst
  docs/migration/v3.13.rst
  docs/quickstart/configuration.rst
  docs/quickstart/local-dev-setup.rst
  docs/reference/database-backends.rst
  scripts/backfill_property_lookup.py
  scripts/migrate_db.py
  scripts/migrate_dynamodb_to_postgresql.py
  tests/test_billing_mode.py
  tests/test_lookup_migration.py
  tests/test_property_lookup.py
  tests/test_property_lookup_v2.py
  thoughts/plans/2026-07-23-dynamodb-scalability.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/legacy-property-gsi-removal.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, DynamoDB Backend, PostgreSQL Backend

Fix reverse-lookup correctness gaps found in PR review
  CHANGELOG.rst
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  scripts/backfill_property_lookup.py
  tests/test_property_lookup.py
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend

Let the automated PR reviewer post its review
  .github/workflows/claude-code-review.yml
Due: none

Pre-release v3.13.0rc1
  CHANGELOG.rst
  actingweb/__init__.py
  docs/migration/v3.13.rst
  pyproject.toml
Due: none

Pre-release v3.13.0rc2
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/actor.py
  actingweb/db/dynamodb/__init__.py
  actingweb/db/dynamodb/subscription_suspension.py
  actingweb/db/postgresql/subscription_suspension.py
  actingweb/db/verify_tables.py
  actingweb/interface/app.py
  docs/migration/v3.13.rst
  docs/reference/database-backends.rst
  pyproject.toml
  tests/test_subscription_suspension.py
  tests/test_verify_tables.py
  thoughts/research/2026-07-25-rc2-triage.md
  thoughts/research/2026-07-25-v3.13.0rc1-consumer-feedback.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/subs-list-cache-asymmetry.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, DynamoDB Backend, PostgreSQL Backend

Reorganise thoughts/: directory is a kind, status is metadata
  CLAUDE.md
  thoughts/README.md
  thoughts/plans/2025-10-02-rest-test-suite-implementation.md
  thoughts/plans/2025-10-03-actingweb-mcp-protection-tests.md
  thoughts/plans/2025-12-12-unified-handler-architecture.md
  thoughts/plans/2025-12-13-unified-handler-gaps.md
  thoughts/plans/2025-12-14-properties-handler-refactoring.md
  thoughts/plans/2025-12-14-remaining-handlers-analysis.md
  thoughts/plans/2025-12-18-passphrase-login-feature.md
  thoughts/plans/2025-12-18-test-coverage-improvements.md
  thoughts/plans/2025-12-26-attribute-storage-maintenance.md
  thoughts/plans/2025-12-30-postgresql-backend-implementation.md
  thoughts/plans/2026-01-14-async-hooks-implementation.md
  thoughts/plans/2026-01-14-property-lookup-table.md
  thoughts/plans/2026-01-15-subscription-suspension-resync.md
  thoughts/plans/2026-01-17-attribute-list-storage.md
  thoughts/plans/2026-01-20-auto-subscription-handling.md
  thoughts/plans/2026-01-23-refactor_unified_permission_handling.md
  thoughts/plans/2026-01-25-fastapi-async-handler-optimization.md
  thoughts/plans/2026-01-25-subscription-list-property-bug-fix.md
  thoughts/plans/2026-02-01-subscription-sync-redundancy-fix.md
  thoughts/plans/2026-02-24-github-auth-actingweb-library.md
  thoughts/plans/2026-04-05-mobile-oauth2-support.md
  thoughts/plans/2026-05-26-mcp-version-negotiation-structuredcontent.md
  thoughts/plans/2026-05-29-apple-signin-and-native-oidc-grant.md
  thoughts/plans/2026-07-23-dynamodb-scalability.md
  thoughts/reference/2026-01-29-subscription-callback-flows.md
  thoughts/reference/handler-refactoring-pattern.md
  thoughts/verifications/2025-12-14-callbacks-handler-refactoring.md
  thoughts/verifications/2025-12-14-handler-refactoring-initiative-complete.md
  thoughts/verifications/2025-12-14-properties-handler-refactoring.md
  thoughts/verifications/2025-12-14-subscription-handler-refactoring.md
  thoughts/verifications/2025-12-14-trust-handler-refactoring.md
Due: none

Actor deletion tombstones, tri-state deletion check, post-wipe hook (rc2)
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/constants.py
  actingweb/db/dynamodb/actor.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/protocols.py
  actingweb/deletion.py
  actingweb/handlers/root.py
  actingweb/interface/__init__.py
  actingweb/interface/actor_interface.py
  actingweb/interface/hooks.py
  docs/guides/apple-sign-in.rst
  docs/guides/hooks.rst
  docs/quickstart/getting-started.rst
  docs/reference/actor-deletion.rst
  docs/reference/hooks-reference.rst
  docs/reference/index.rst
  tests/test_actor_deletion_tombstone.py
  thoughts/research/2026-07-26-actor-deletion-semantics-and-orphan-writes.md
  thoughts/research/2026-07-26-actor-deletion-triage.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, DynamoDB Backend, PostgreSQL Backend, Database Common

thoughts: fix the proposed->active trigger, note who maintains status
  thoughts/README.md
Due: none

Address PR #116 review: tombstone before the pre-delete hook, guard the clear
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/handlers/root.py
  docs/reference/actor-deletion.rst
  tests/test_actor_deletion_tombstone.py
  thoughts/research/2026-07-26-actor-deletion-triage.md
Due: dynamodb, postgresql, Core Modules, HTTP Handlers

Initial written up research on the issues
  thoughts/research/2026-07-30-mcp-trust-cache-crosses-clients.md
Due: none

Fix MCP trust-cache authorization bypass across clients
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  actingweb/oauth2_server/oauth2_server.py
  docs/guides/caching.md
  docs/guides/mcp-applications.rst
  tests/integration/test_mcp_permission_filtering.py
  tests/test_async_mcp_handler.py
  tests/test_mcp_fail_closed_authorization.py
  tests/test_mcp_permissions.py
  tests/test_mcp_resource_read_permissions.py
  tests/test_mcp_tool_result_format.py
  tests/test_mcp_tool_schema_fields.py
  tests/test_mcp_tool_visibility.py
  tests/test_mcp_trust_cache_key.py
  thoughts/plans/2026-07-30-mcp-trust-cache-crosses-clients.md
  thoughts/research/2026-07-30-mcp-trust-cache-crosses-clients.md
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Make RuntimeContext request-scoped via ContextVars (Phase 4)
  actingweb/interface/hooks.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/runtime_context.py
  docs/guides/hooks.rst
  tests/integration/test_runtime_context_advanced.py
  tests/test_fastapi_context_integration.py
  tests/test_flask_context_integration.py
  tests/test_runtime_context_isolation.py
  thoughts/plans/2026-07-30-mcp-trust-cache-crosses-clients.md
Due: dynamodb, postgresql, Interface Layer

Document the MCP trust-cache security fix (Phase 5)
  CHANGELOG.rst
  docs/guides/mcp-quickstart.rst
  docs/guides/troubleshooting.rst
  docs/migration/v3.13.rst
  docs/reference/security.rst
  thoughts/plans/2026-07-30-mcp-trust-cache-crosses-clients.md
  thoughts/todo/mcp-cache-lifecycle-and-revocation.md
Due: none

Correct two doc claims found in advisor review
  docs/guides/troubleshooting.rst
  thoughts/todo/mcp-cache-lifecycle-and-revocation.md
Due: none

Document RuntimeContext change and fix docstring RST rendering
  CHANGELOG.rst
  actingweb/runtime_context.py
  tests/test_flask_context_integration.py
  tests/test_runtime_context_isolation.py
Due: dynamodb, postgresql

Add verification for MCP trust-cache security fix
  thoughts/plans/2026-07-30-mcp-trust-cache-crosses-clients.md
  thoughts/verifications/2026-07-31-mcp-trust-cache-crosses-clients.md
Due: none

Bind test PostgreSQL pool to the worker schema
  tests/integration/conftest.py
  thoughts/todo/postgres-pool-schema-binding-and-mcp-trust-read-flake.md
Due: none

Record PostgreSQL verification gap and CI finding
  thoughts/verifications/2026-07-31-mcp-trust-cache-crosses-clients.md
Due: none

TEMP: CI diagnostic for PostgreSQL trust-read failure
  actingweb/_tmp_diag.py
  actingweb/handlers/mcp.py
  actingweb/oauth2_server/client_registry.py
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Make config-bound singletons and caches honor the config they are given
  CHANGELOG.rst
  actingweb/_tmp_diag.py
  actingweb/db/postgresql/connection.py
  actingweb/handlers/mcp.py
  actingweb/oauth2_server/client_registry.py
  actingweb/oauth2_server/oauth2_server.py
  actingweb/peer_capabilities.py
  actingweb/peer_permissions.py
  actingweb/permission_evaluator.py
  actingweb/trust_permissions.py
  actingweb/trust_type_registry.py
  tests/test_config_bound_singletons.py
  thoughts/todo/postgres-pool-schema-binding-and-mcp-trust-read-flake.md
Due: dynamodb, postgresql, HTTP Handlers, OAuth System, PostgreSQL Backend

TEMP: second CI diagnostic
  actingweb/_tmp_diag.py
  actingweb/handlers/mcp.py
  actingweb/oauth2_server/client_registry.py
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Remove CI diagnostic; record definitive backend-crossover evidence
  actingweb/_tmp_diag.py
  actingweb/handlers/mcp.py
  actingweb/oauth2_server/client_registry.py
  thoughts/todo/postgres-pool-schema-binding-and-mcp-trust-read-flake.md
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Rebind the singletons ActingWebOAuth2Server composes
  CHANGELOG.rst
  actingweb/oauth2_server/client_registry.py
  actingweb/oauth2_server/state_manager.py
  actingweb/oauth2_server/token_manager.py
  actingweb/peer_profile.py
  tests/test_config_bound_singletons.py
  thoughts/todo/postgres-pool-schema-binding-and-mcp-trust-read-flake.md
Due: dynamodb, postgresql, OAuth System

Retire the resolved PostgreSQL todo; record the durable pattern
  thoughts/reference/module-globals-assume-one-application.md
  thoughts/todo/postgres-pool-schema-binding-and-mcp-trust-read-flake.md
  thoughts/verifications/2026-07-31-mcp-trust-cache-crosses-clients.md
Due: none

Prove the singleton detector still trips on the shape it guards
  tests/test_config_bound_singletons.py
Due: none

Pre-release v3.13.0rc3
  CHANGELOG.rst
  CLAUDE.md
  CONTRIBUTING.rst
  README.rst
  actingweb/__init__.py
  conf.py
  pyproject.toml
Due: none

Close the MCP trust-cache plan: rc3 tagged and published
  thoughts/plans/2026-07-30-mcp-trust-cache-crosses-clients.md
Due: none

Note that master is protected, so bumps must ride in the PR
  CLAUDE.md
Due: none

Close the MCP trust-cache plan after v3.13.0rc3 (#118)
  CLAUDE.md
  thoughts/plans/2026-07-30-mcp-trust-cache-crosses-clients.md
Due: none

Make MCP structuredContent opt-in, and close two adjacent defects
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  tests/integration/test_mcp_tools.py
  tests/test_mcp_tool_result_format.py
  tests/test_mcp_tools_call_wire_shape.py
Due: dynamodb, postgresql, HTTP Handlers

Document structuredContent as opt-in, and correct two older claims
  CHANGELOG.rst
  actingweb/interface/app.py
  actingweb/interface/hooks.py
  actingweb/mcp/decorators.py
  docs/guides/mcp-applications.rst
  docs/guides/mcp-quickstart.rst
  docs/guides/troubleshooting.rst
  docs/migration/index.rst
  docs/migration/v3.11.rst
  docs/migration/v3.13.rst
  docs/reference/hooks-reference.rst
  thoughts/plans/2026-05-26-mcp-version-negotiation-structuredcontent.md
  thoughts/plans/2026-08-03-structuredcontent-promotion-drops-tool-text.md
  thoughts/research/2026-08-03-structuredcontent-promotion-drops-tool-text.md
Due: dynamodb, postgresql, Interface Layer

Pre-release v3.13.0rc4
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Record implementation notes on the structuredContent plan
  thoughts/plans/2026-08-03-structuredcontent-promotion-drops-tool-text.md
Due: none

Make the mcp_tool docstring example copy-pasteable
  actingweb/mcp/decorators.py
Due: dynamodb, postgresql

Correct the plan's parallel-test finding
  thoughts/plans/2026-08-03-structuredcontent-promotion-drops-tool-text.md
Due: none

Path conditions:
  dynamodb: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  postgresql: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Core Modules: any of: actingweb/actor.py, actingweb/config.py, actingweb/auth.py, actingweb/trust.py, actingweb/subscription.py, actingweb/property.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Interface Layer: any of: actingweb/interface/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  HTTP Handlers: any of: actingweb/handlers/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  OAuth System: any of: actingweb/oauth*.py, actingweb/oauth2_server/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  DynamoDB Backend: any of: actingweb/db/dynamodb/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  PostgreSQL Backend: any of: actingweb/db/postgresql/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Database Common: any of: actingweb/db/__init__.py, actingweb/db/protocols.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
