Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Action PR #140 review: retarget deleted-todo pointers, file the owed OAuth check, drop stale markers
  actingweb/db/postgresql/attribute.py
  tests/integration/test_trust_oauth_integration.py
  tests/test_pg_delete_diagnostics.py
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
  thoughts/plans/2026-08-22-demo-app-consolidation.md
  thoughts/todo/INDEX.md
  thoughts/todo/ai-agent-discoverability-followups.md
  thoughts/todo/ci-postgres-parallel-flakiness.md
  thoughts/todo/demo-live-oauth-login-unverified.md
Due: dynamodb, postgresql, PostgreSQL Backend

Add implementation plan for 3.14.4: identifier matching, attribute contracts, MCP metadata
  thoughts/plans/2026-09-02-identifier-matching-and-metadata-fidelity.md
Due: none

Whole-identifier permission matching, control-character identifiers denied, MCP checks fail closed
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  actingweb/handlers/properties.py
  actingweb/identifiers.py
  actingweb/mcp/uri.py
  actingweb/oauth2.py
  actingweb/oauth_state.py
  actingweb/permission_evaluator.py
  actingweb/property.py
  actingweb/property_list.py
  actingweb/remote_storage.py
  tests/integration/test_property_path_control_chars.py
  tests/test_mcp_fail_closed_authorization.py
  tests/test_mcp_uri_template.py
  tests/test_oauth2_state_classification.py
  tests/test_oauth_state.py
  tests/test_permission_pattern_matching.py
  tests/test_property_list.py
  tests/test_remote_storage.py
  thoughts/plans/2026-09-02-identifier-matching-and-metadata-fidelity.md
Due: dynamodb, postgresql, Core Modules, HTTP Handlers, OAuth System

Attribute storage: empty bucket is {} on PostgreSQL, point reads and deletes compare the bucket exactly
  actingweb/attribute.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/protocols.py
  tests/integration/test_db_attribute_buckets.py
  tests/test_attribute_bucket_authority.py
  thoughts/plans/2026-09-02-identifier-matching-and-metadata-fidelity.md
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend, Database Common

/mcp/info derived from config and the hook registry; fqdn and proto validated at Config construction
  actingweb/config.py
  actingweb/handlers/mcp.py
  actingweb/interface/app.py
  actingweb/interface/integrations/base_integration.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  docs/guides/access-control.rst
  docs/quickstart/configuration.rst
  tests/integration/test_mcp_info_route.py
  tests/test_base_integration.py
  tests/test_config.py
  tests/test_flask_integration.py
  tests/test_mcp_auth_challenge.py
  tests/test_mcp_disabled.py
  tests/test_mcp_info.py
  tests/test_mcp_server_name.py
  thoughts/plans/2026-09-02-identifier-matching-and-metadata-fidelity.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Release v3.14.4
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
  tests/test_pg_delete_diagnostics.py
  thoughts/plans/2026-09-02-identifier-matching-and-metadata-fidelity.md
  thoughts/todo/INDEX.md
  thoughts/todo/attribute-get-bucket-empty-vs-none.md
  thoughts/todo/attribute-upsert-bucket-drift.md
  thoughts/todo/auth-per-request-config.md
  thoughts/todo/db-layer-get-bucket-or-empty.md
  thoughts/todo/glob-backslash-escape.md
  thoughts/todo/glob-to-regex-anchoring-gaps.md
  thoughts/todo/mcp-discovery-metadata-fidelity.md
  thoughts/todo/permission-path-unbounded-caches.md
  thoughts/todo/permission-uri-prefix-branch.md
  thoughts/todo/prop-list-key-prefix-scheme.md
Due: none

Deny control-character identifiers before the permission-map lookup; repr identifiers in denial logs
  CHANGELOG.rst
  actingweb/permission_evaluator.py
  tests/test_permission_pattern_matching.py
Due: dynamodb, postgresql

Verification record for v3.14.4; plan marked done
  thoughts/plans/2026-09-02-identifier-matching-and-metadata-fidelity.md
  thoughts/verifications/2026-09-02-identifier-matching-and-metadata-fidelity.md
Due: none

Triage the mobile-logout inbound report; add thoughts/inbound as the inbox
  thoughts/inbound/README.md
  thoughts/todo/logout-does-not-revoke-refresh-chain.md
Due: none

todo/: hold only what is not done; move the record to plans and verifications
  CLAUDE.md
  thoughts/README.md
  thoughts/todo/INDEX.md
  thoughts/todo/action-hook-output-schema-not-visible-to-mcp.md
  thoughts/todo/ai-agent-discoverability-followups.md
  thoughts/todo/attribute-list-shift-design.md
  thoughts/todo/ci-postgres-parallel-flakiness.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/glob-backslash-escape.md
  thoughts/todo/mcp-2026-07-28-dual-era-support.md
  thoughts/todo/mcp-cache-lifecycle-and-revocation.md
  thoughts/todo/permission-path-unbounded-caches.md
  thoughts/todo/permission-uri-prefix-branch.md
  thoughts/todo/prop-list-key-prefix-scheme.md
  thoughts/todo/subs-list-cache-asymmetry.md
  thoughts/todo/v2-list-access-verification-followups.md
  thoughts/todo/whole-list-rewrite-atomicity.md
Due: none

Review: record the browser cookie-name defect; AGENTS.md says six directories
  AGENTS.md
  thoughts/todo/INDEX.md
  thoughts/todo/logout-does-not-revoke-refresh-chain.md
Due: none

Plan 3.14.5: close the OAuth email form's inputs, fire actor_created once
  thoughts/plans/2026-09-10-oauth-email-form-writes-to-existing-actors.md
  thoughts/research/2026-09-09-oauth-email-form-writes-to-existing-actors.md
  thoughts/todo/INDEX.md
  thoughts/todo/oauth-email-form-writes-to-existing-actors.md
Due: none

Phase 1: close the OAuth email form's inputs
  actingweb/constants.py
  actingweb/handlers/email_verification.py
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth2_spa.py
  actingweb/handlers/oauth_email.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/oauth2.py
  actingweb/oauth2_server/oauth2_server.py
  actingweb/oauth_session.py
  tests/integration/templates/aw-verify-email.html
  tests/test_email_verification_legacy_route.py
  tests/test_oauth2_callback_email_required.py
  tests/test_oauth2_clear_pending_verification.py
  tests/test_oauth2_provider_verified_emails.py
  tests/test_oauth_email_handler.py
  tests/test_oauth_session.py
  tests/test_spa_api_endpoints.py
  thoughts/plans/2026-09-10-oauth-email-form-writes-to-existing-actors.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers, OAuth System

Phase 2: actor_created fires once, in core
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth2_spa.py
  actingweb/handlers/oauth_email.py
  actingweb/oauth2.py
  actingweb/oauth_session.py
  tests/test_actor_created_fires_once.py
  tests/test_oauth_email_handler.py
  tests/test_oauth_session.py
  thoughts/plans/2026-09-10-oauth-email-form-writes-to-existing-actors.md
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Phase 3: constant-time secret compares, duplicate-creator warning, docs
  actingweb/actor.py
  actingweb/auth.py
  actingweb/handlers/oauth2_spa.py
  actingweb/handlers/oauth_email.py
  actingweb/oauth2_server/client_registry.py
  actingweb/oauth2_server/token_manager.py
  actingweb/secret_compare.py
  docs/guides/authentication.rst
  docs/guides/oauth-login-flow.rst
  docs/guides/spa-authentication.rst
  docs/migration/v3.10.rst
  docs/quickstart/configuration.rst
  docs/quickstart/getting-started.rst
  docs/reference/hooks-reference.rst
  tests/test_actor_get_from_creator_warning.py
  tests/test_secret_compare.py
  tests/test_trust_verification_token_missing.py
  thoughts/plans/2026-09-10-oauth-email-form-writes-to-existing-actors.md
  thoughts/research/2026-09-09-oauth-email-form-writes-to-existing-actors.md
Due: dynamodb, postgresql, Core Modules, HTTP Handlers, OAuth System

Release v3.14.5
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
  thoughts/plans/2026-09-10-oauth-email-form-writes-to-existing-actors.md
  thoughts/todo/INDEX.md
  thoughts/todo/creator-uniqueness-not-enforced.md
  thoughts/todo/github-emails-api-called-twice.md
  thoughts/todo/oauth-email-form-writes-to-existing-actors.md
Due: none

Claim the OAuth email session atomically; cover the verify link
  CHANGELOG.rst
  actingweb/handlers/oauth_email.py
  actingweb/oauth_session.py
  tests/test_actor_created_fires_once.py
  tests/test_email_verification_legacy_route.py
  tests/test_oauth_email_handler.py
  tests/test_oauth_email_verify_link.py
  tests/test_oauth_session.py
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Render the verification result page; thread hooks on the SPA redirect path
  CHANGELOG.rst
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth_email.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  docs/guides/authentication.rst
  tests/test_actor_created_fires_once.py
  tests/test_oauth_email_verify_link.py
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Make the verify-link test's token per-test, not a module constant
  tests/test_oauth_email_verify_link.py
Due: none

Verification: 3.14.5 OAuth email form
  thoughts/plans/2026-09-10-oauth-email-form-writes-to-existing-actors.md
  thoughts/verifications/2026-09-10-oauth-email-form-writes-to-existing-actors.md
Due: none

Make the legacy-route tests real; cover the verify-link rendering
  CHANGELOG.rst
  tests/test_email_verification_legacy_route.py
  thoughts/todo/INDEX.md
  thoughts/todo/spa-session-retrieve-endpoint-test.md
  thoughts/verifications/2026-09-10-oauth-email-form-writes-to-existing-actors.md
Due: none

Verification: record the final clean run at 46f9852
  thoughts/verifications/2026-09-10-oauth-email-form-writes-to-existing-actors.md
Due: none

Test that reciprocal approval actually reaches the initiator
  tests/integration/test_trust_reciprocal_approval.py
Due: none

Address the four findings from the re-review at 432369a
  CHANGELOG.rst
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth_email.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/oauth2.py
  actingweb/oauth_session.py
  tests/test_email_verification_legacy_route.py
  tests/test_oauth2_clear_pending_verification.py
  tests/test_oauth_email_handler.py
  tests/test_oauth_session.py
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers, OAuth System

Assert the peer callback completed, not just that approval propagated
  tests/integration/test_trust_reciprocal_approval.py
Due: none

Release v3.14.6
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  docs/guides/mcp-quickstart.rst
  pyproject.toml
  tests/integration/test_mcp_basic.py
  tests/integration/test_mcp_client_descriptions.py
  tests/integration/test_mcp_integration.py
  tests/integration/test_mcp_notification_integrations.py
  tests/integration/test_mcp_permission_filtering.py
  tests/integration/test_mcp_prompts.py
  tests/integration/test_mcp_resource_regression.py
  tests/integration/test_mcp_resources.py
  tests/integration/test_mcp_tools.py
  thoughts/todo/INDEX.md
  thoughts/todo/mcp-2026-07-28-dual-era-support.md
  thoughts/todo/mcp-batch-receive.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Validate MCP-Protocol-Version before accepting no-reply messages
  CHANGELOG.rst
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  tests/integration/test_mcp_notification_integrations.py
  thoughts/todo/INDEX.md
  thoughts/todo/mcp-post-parse-error.md
Due: dynamodb, postgresql, HTTP Handlers

Phase 1: v2 list mutation never raises after its item write committed
  actingweb/handlers/www.py
  actingweb/property_list.py
  tests/integration/test_property_list_v2.py
  tests/integration/test_www_list_corruption.py
  tests/test_bulk_list_update_handles.py
  tests/test_v2_append_last_rank.py
  tests/test_v2_list_mutation_committed.py
  thoughts/plans/2026-09-14-v2-list-mutation-raises-after-its-write-committed.md
  thoughts/research/2026-09-14-v2-list-mutation-raises-after-its-write-committed.md
  thoughts/todo/INDEX.md
  thoughts/todo/v2-list-mutation-raises-after-its-write-committed.md
Due: dynamodb, postgresql, HTTP Handlers

Phase 2: verify() reports the orphan state; docs corrected
  CHANGELOG.rst
  actingweb/handlers/properties.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  tests/integration/test_verify_property_lists_script.py
  tests/test_v1_maintenance_scoped_reads.py
  tests/test_v2_list_mutation_committed.py
  thoughts/plans/2026-09-14-v2-list-mutation-raises-after-its-write-committed.md
  thoughts/todo/INDEX.md
  thoughts/todo/conditional-write-ambiguous-after-sdk-retry.md
  thoughts/todo/meta-row-create-unconditional-for-description-writers.md
Due: dynamodb, postgresql, HTTP Handlers

Release v3.14.7
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
  thoughts/plans/2026-09-14-v2-list-mutation-raises-after-its-write-committed.md
  thoughts/todo/INDEX.md
  thoughts/todo/v2-list-access-verification-followups.md
  thoughts/todo/v2-list-mutation-raises-after-its-write-committed.md
Due: none

Mark plan done; record PR and deferred release steps
  thoughts/plans/2026-09-14-v2-list-mutation-raises-after-its-write-committed.md
Due: none

Address PR #146 review: meta_row_present is presence, not the orphan flag
  CHANGELOG.rst
  actingweb/property_list.py
  docs/guides/property-lists.rst
Due: dynamodb, postgresql

Verify 3.14.7 plan; link the verification; fix todo links
  thoughts/plans/2026-09-14-v2-list-mutation-raises-after-its-write-committed.md
  thoughts/todo/conditional-write-ambiguous-after-sdk-retry.md
  thoughts/todo/meta-row-create-unconditional-for-description-writers.md
  thoughts/verifications/2026-09-14-v2-list-mutation-raises-after-its-write-committed.md
Due: none

Upgrade dependencies for 3.14.7: cryptography >=50, pyjwt ^2.14, lock refresh
  CHANGELOG.rst
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Todo: benchmark subscription tests pass a URL to the boolean callback column
  thoughts/todo/INDEX.md
  thoughts/todo/benchmark-subscription-tests-pass-url-to-boolean-callback.md
Due: none

Triage three consumer reports and plan 3.15.0: MCP OAuth hardening and two credential exposures
  thoughts/plans/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
  thoughts/research/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
  thoughts/todo/INDEX.md
  thoughts/todo/dcr-registrations-and-client-trust-rows-never-expire.md
  thoughts/todo/mcp-2026-07-28-dual-era-support.md
  thoughts/todo/mcp-oauth-connector-conformance-followups.md
  thoughts/todo/trust-list-endpoint-returns-peer-secrets.md
Due: none

Adopt the shared workflow contract in CLAUDE.md and add per-command addenda
  .claude/workflow/README.md
  .claude/workflow/changelog.md
  .claude/workflow/fix_bug.md
  .claude/workflow/implement_plan.md
  .claude/workflow/outside-voice.md
  .claude/workflow/release.md
  .claude/workflow/research_codebase.md
  .claude/workflow/verify_implementation.md
  .gitignore
  AGENTS.md
  CHANGELOG.rst
  CLAUDE.md
  CONTRIBUTING.rst
  thoughts/README.md
  thoughts/features/.gitkeep
Due: none

Record the 3.15.0 verification, fix notes and todos
  thoughts/plans/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
  thoughts/research/2026-09-25-mcp-client-name-cache.md
  thoughts/research/2026-09-25-mcp-oauth-hardening-verification-fixes.md
  thoughts/todo/INDEX.md
  thoughts/todo/mcp-cleanup-expired-tokens-strict-read.md
  thoughts/todo/mcp-oauth-connector-conformance-followups.md
  thoughts/todo/trust-list-endpoint-returns-peer-secrets.md
  thoughts/verifications/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
Due: none

Treat store faults as faults in MCP token consume, revoke and delete
  CHANGELOG.rst
  actingweb/attribute.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/protocols.py
  actingweb/handlers/mcp.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/oauth2_server/client_registry.py
  actingweb/oauth2_server/oauth2_server.py
  actingweb/oauth2_server/token_manager.py
  actingweb/oauth_session.py
  actingweb/single_use.py
  actingweb/trust.py
  docs/migration/v3.15.rst
  tests/integration/test_mcp_refresh_rotation_backend.py
  tests/mcp_token_double.py
  tests/test_mcp_auth_code_single_use.py
  tests/test_mcp_client_info_cache.py
  tests/test_mcp_refresh_rotation.py
  tests/test_mcp_token_store_faults.py
  tests/test_mcp_trust_cache_key.py
  tests/test_oauth2_logout_mcp_tokens.py
  tests/test_oauth2_spa_refresh_rotation.py
  tests/test_oauth_session.py
  tests/test_single_use.py
Due: dynamodb, postgresql, Core Modules, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Path conditions:
  dynamodb: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  postgresql: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Core Modules: any of: actingweb/actor.py, actingweb/config.py, actingweb/auth.py, actingweb/trust.py, actingweb/subscription.py, actingweb/property.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Interface Layer: any of: actingweb/interface/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  HTTP Handlers: any of: actingweb/handlers/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  OAuth System: any of: actingweb/oauth*.py, actingweb/oauth2_server/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  DynamoDB Backend: any of: actingweb/db/dynamodb/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  PostgreSQL Backend: any of: actingweb/db/postgresql/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Database Common: any of: actingweb/db/__init__.py, actingweb/db/protocols.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
