Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

codecov.yml:

# Codecov configuration for ActingWeb
# https://docs.codecov.com/docs/codecovyml-reference
#
# IMPORTANT: Dual Database Backend Coverage
# ActingWeb supports both DynamoDB and PostgreSQL backends.
# Each backend is tested separately in CI/CD using matrix testing.
# Coverage reports are uploaded with backend-specific flags.
# Total coverage is the union of both backend test runs.

coverage:
  # Coverage status checks
  status:
    # Project-wide coverage
    project:
      default:
        # Target coverage percentage (realistic for current codebase)
        target: 40%
        # Allow coverage to drop by up to 2% without failing
        threshold: 2%
        # Only check coverage on files that were changed
        if_ci_failed: error

    # Per-patch coverage (new/changed code)
    patch:
      default:
        # New code should have at least 20% coverage
        # Note: Database backend code is mutually exclusive (DynamoDB vs PostgreSQL)
        # Each backend is tested separately, so patch coverage appears lower
        target: 20%
        threshold: 15%
        # Don't fail CI on patch coverage - backends are tested separately
        if_ci_failed: success

  # Precision of coverage percentages
  precision: 2

  # Round coverage percentages
  round: down

  # Range for coverage colors (red to green)
  range: "30...80"

# Comment configuration for PRs
comment:
  # Show coverage comment
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different test types and backends
flags:
  # Backend-specific flags - coverage is mutually exclusive
  dynamodb:
    paths:
      - actingweb/
    carryforward: true
  postgresql:
    paths:
      - actingweb/
    carryforward: true

# Flag management - merge coverage from both backends
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

# Ignore specific files/paths from coverage
ignore:
  - "tests/**/*"
  - "**/__init__.py"
  - "**/deprecated_*/**"
  - "docs/**/*"
  - "scripts/**/*"

# Component-level coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - actingweb/actor.py
        - actingweb/config.py
        - actingweb/auth.py
        - actingweb/trust.py
        - actingweb/subscription.py
        - actingweb/property.py
    - component_id: interface
      name: Interface Layer
      paths:
        - actingweb/interface/**
    - component_id: handlers
      name: HTTP Handlers
      paths:
        - actingweb/handlers/**
    - component_id: oauth
      name: OAuth System
      paths:
        - actingweb/oauth*.py
        - actingweb/oauth2_server/**
    - component_id: db_dynamodb
      name: DynamoDB Backend
      paths:
        - actingweb/db/dynamodb/**
      flag_regexes:
        - ^dynamodb$
    - component_id: db_postgresql
      name: PostgreSQL Backend
      paths:
        - actingweb/db/postgresql/**
      flag_regexes:
        - ^postgresql$
    - component_id: db_common
      name: Database Common
      paths:
        - actingweb/db/__init__.py
        - actingweb/db/protocols.py

Normalize GitHub user_info in both OAuth callback paths (v3.11.0b2)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth2_spa.py
  pyproject.toml
  tests/test_oauth2_callback_github_spa.py
  tests/test_user_info_normalization.py
Due: dynamodb, postgresql, HTTP Handlers

Address review: extract normalize_user_info, gate login fallback, test both paths
  CHANGELOG.rst
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth2_spa.py
  actingweb/handlers/oauth2_utils.py
  tests/test_oauth2_callback_github_normalization.py
  tests/test_user_info_normalization.py
Due: dynamodb, postgresql, HTTP Handlers

CI: add per-test timeout so a parallel deadlock can't hang the whole job
  .github/workflows/tests.yml
Due: none

CI: hard faulthandler watchdog for the xdist controller hang (supersedes --timeout-only fix)
  .github/workflows/tests.yml
  pyproject.toml
  tests/conftest.py
  thoughts/research/2026-06-15-ci-postgres-test-hang.md
Due: none

Normalize GitHub user_info in both OAuth callback paths (v3.11.0b2) (#106)
  .github/workflows/tests.yml
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth2_spa.py
  actingweb/handlers/oauth2_utils.py
  pyproject.toml
  tests/conftest.py
  tests/test_oauth2_callback_github_normalization.py
  tests/test_user_info_normalization.py
  thoughts/research/2026-06-15-ci-postgres-test-hang.md
Due: dynamodb, postgresql, HTTP Handlers

Pre-release v3.11.0b3: SPA cancelled-consent error redirect
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/oauth2_callback.py
  pyproject.toml
Due: dynamodb, postgresql, HTTP Handlers

Address review: SPA error tests, Apple cancel path, preserve query params
  CHANGELOG.rst
  actingweb/handlers/oauth2_callback.py
  tests/test_oauth2_callback_spa_error.py
Due: dynamodb, postgresql, HTTP Handlers

Pre-release v3.11.0b3: SPA cancelled-consent error redirect (#107)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/oauth2_callback.py
  pyproject.toml
  tests/test_oauth2_callback_spa_error.py
Due: dynamodb, postgresql, HTTP Handlers

Pre-release v3.11.0b4: fix actor/trust delete infinite recursion
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/trust.py
  pyproject.toml
  tests/test_trust_core.py
Due: dynamodb, postgresql, Core Modules

Guard OAuth2 client cleanup on successful trust-record delete
  actingweb/trust.py
  tests/test_trust_core.py
Due: dynamodb, postgresql, Core Modules

Pre-release v3.11.0b4: fix actor/trust delete infinite recursion (DB pool exhaustion) (#108)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/trust.py
  pyproject.toml
  tests/test_trust_core.py
Due: dynamodb, postgresql, Core Modules

Pre-release v3.11.0b5: atomic single-use consume for mobile_ticket grant
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/attribute.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/protocols.py
  actingweb/oauth_state_store.py
  docs/guides/spa-authentication.rst
  pyproject.toml
  tests/test_oauth2_callback_apple.py
  tests/test_oauth2_callback_github_mobile.py
  tests/test_oauth2_spa_apple_ticket.py
  tests/test_oauth2_spa_mobile_ticket.py
  tests/test_state_nonce_store.py
Due: dynamodb, postgresql, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Enforce mobile_ticket 300s TTL at redemption (Codex review)
  CHANGELOG.rst
  actingweb/oauth_state_store.py
  docs/guides/spa-authentication.rst
  tests/test_oauth2_spa_mobile_ticket.py
Due: dynamodb, postgresql, OAuth System

Pre-release v3.11.0b5: atomic single-use consume for mobile_ticket grant (#109)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/attribute.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/protocols.py
  actingweb/oauth_state_store.py
  docs/guides/spa-authentication.rst
  pyproject.toml
  tests/test_oauth2_callback_apple.py
  tests/test_oauth2_callback_github_mobile.py
  tests/test_oauth2_spa_apple_ticket.py
  tests/test_oauth2_spa_mobile_ticket.py
  tests/test_state_nonce_store.py
Due: dynamodb, postgresql, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Pre-release v3.11.0b6: logout clears provider token locally without revoking upstream grant
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/handlers/oauth2_spa.py
  pyproject.toml
  tests/test_oauth2_spa.py
Due: dynamodb, postgresql, HTTP Handlers

Address review: clear oauth_token_timestamp on logout, restore no-token log, add branch tests
  CHANGELOG.rst
  actingweb/handlers/oauth2_endpoints.py
  actingweb/handlers/oauth2_spa.py
  tests/test_oauth2_spa.py
Due: dynamodb, postgresql, HTTP Handlers

Pre-release v3.11.0b6: logout clears provider token locally without revoking upstream grant (#110)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/handlers/oauth2_spa.py
  pyproject.toml
  tests/test_oauth2_spa.py
Due: dynamodb, postgresql, HTTP Handlers

Harden SPA refresh-token rotation: scoped revocation, recovery, bounded retention
  CHANGELOG.rst
  actingweb/constants.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/protocols.py
  actingweb/handlers/oauth2_spa.py
  actingweb/oauth_session.py
  docs/guides/database-maintenance.rst
  docs/guides/spa-authentication.rst
  docs/reference/database-backends.rst
  docs/reference/security.rst
  tests/test_oauth2_spa_refresh_rotation.py
  tests/test_oauth_session.py
Due: dynamodb, postgresql, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Address review feedback; bump to v3.11.0b7
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/constants.py
  actingweb/handlers/oauth2_spa.py
  actingweb/oauth_session.py
  pyproject.toml
  tests/test_oauth2_spa_refresh_rotation.py
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Index refresh-token family revocation by chain_id (O(chain) on PostgreSQL)
  CHANGELOG.rst
  actingweb/db/dynamodb/attribute.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/postgresql/migrations/versions/d4e5f6a7b8c9_add_attributes_chain_id_index.py
  actingweb/db/postgresql/schema.py
  actingweb/db/protocols.py
  actingweb/oauth_session.py
  tests/test_oauth2_spa_refresh_rotation.py
  tests/test_oauth_session.py
Due: dynamodb, postgresql, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Add v3.11 migration guide; document attributes-table schema/indexes
  docs/guides/postgresql-migration.rst
  docs/migration/index.rst
  docs/migration/v3.11.rst
Due: none

Add ActingWebApp.with_spa_redirect_origins() builder
  CHANGELOG.rst
  actingweb/interface/app.py
  docs/guides/spa-authentication.rst
  docs/migration/v3.11.rst
  tests/test_actingweb_app.py
Due: dynamodb, postgresql, Interface Layer

Add ActingWebApp.with_spa_cors_origins() builder (was documented, never implemented)
  CHANGELOG.rst
  actingweb/config.py
  actingweb/handlers/oauth2_spa.py
  actingweb/interface/app.py
  docs/guides/spa-authentication.rst
  tests/test_actingweb_app.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Address latest review nits: clarify actor_id; warn on schemeless SPA origins
  actingweb/interface/app.py
  actingweb/oauth_session.py
  tests/test_actingweb_app.py
Due: dynamodb, postgresql, Interface Layer, OAuth System

Harden SPA refresh-token rotation: scoped revocation, recovery, bounded retention (#111)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/config.py
  actingweb/constants.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/postgresql/migrations/versions/d4e5f6a7b8c9_add_attributes_chain_id_index.py
  actingweb/db/postgresql/schema.py
  actingweb/db/protocols.py
  actingweb/handlers/oauth2_spa.py
  actingweb/interface/app.py
  actingweb/oauth_session.py
  docs/guides/database-maintenance.rst
  docs/guides/postgresql-migration.rst
  docs/guides/spa-authentication.rst
  docs/migration/index.rst
  docs/migration/v3.11.rst
  docs/reference/database-backends.rst
  docs/reference/security.rst
  pyproject.toml
  tests/test_actingweb_app.py
  tests/test_oauth2_spa_refresh_rotation.py
  tests/test_oauth_session.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Release v3.11.0
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/constants.py
  docs/guides/hooks.rst
  docs/guides/mcp-applications.rst
  docs/guides/mcp-quickstart.rst
  docs/guides/spa-authentication.rst
  docs/quickstart/configuration.rst
  docs/quickstart/local-dev-setup.rst
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: dynamodb, postgresql

Release v3.11.0 (#112)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/constants.py
  docs/guides/hooks.rst
  docs/guides/mcp-applications.rst
  docs/guides/mcp-quickstart.rst
  docs/guides/spa-authentication.rst
  docs/quickstart/configuration.rst
  docs/quickstart/local-dev-setup.rst
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: dynamodb, postgresql

Docs overhaul, out-of-the-box web UI templates, and two MCP correctness fixes
  CHANGELOG.rst
  README.rst
  actingweb/config.py
  actingweb/interface/app.py
  actingweb/interface/hooks.py
  actingweb/interface/integrations/base_integration.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/templates/aw-actor-www-init.html
  actingweb/templates/aw-actor-www-properties.html
  actingweb/templates/aw-actor-www-property.html
  actingweb/templates/aw-actor-www-root.html
  actingweb/templates/aw-actor-www-trust-new.html
  actingweb/templates/aw-actor-www-trust.html
  actingweb/templates/aw-oauth-authorization-form.html
  actingweb/templates/aw-oauth-email.html
  actingweb/templates/aw-root-created.html
  actingweb/templates/aw-root-factory.html
  actingweb/templates/aw-root-failed.html
  actingweb/templates/aw-verify-email.html
  actingweb/templates/base.html
  docs/guides/async-hooks-migration.rst
  docs/guides/hooks.rst
  docs/guides/mcp-quickstart.rst
  docs/quickstart/getting-started.rst
  docs/quickstart/local-dev-setup.rst
  docs/quickstart/overview.rst
  docs/reference/hooks-reference.rst
  docs/reference/routing-overview.rst
  docs/sdk/actor-interface.rst
  docs/sdk/async-operations.rst
  docs/sdk/authenticated-views.rst
  docs/sdk/developer-api.rst
  pyproject.toml
  tests/test_fastapi_template_response.py
  tests/test_hook_metadata.py
  tests/test_mcp_server_name.py
Due: dynamodb, postgresql, Core Modules, Interface Layer

Fix built-in factory templates to honor URL path prefix
  CHANGELOG.rst
  actingweb/handlers/factory.py
  actingweb/templates/aw-root-created.html
  actingweb/templates/aw-root-factory.html
  actingweb/templates/aw-root-failed.html
Due: dynamodb, postgresql, HTTP Handlers

Docs overhaul, out-of-the-box web UI templates, and two MCP correctness fixes (#113)
  CHANGELOG.rst
  README.rst
  actingweb/config.py
  actingweb/handlers/factory.py
  actingweb/interface/app.py
  actingweb/interface/hooks.py
  actingweb/interface/integrations/base_integration.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/templates/aw-actor-www-init.html
  actingweb/templates/aw-actor-www-properties.html
  actingweb/templates/aw-actor-www-property.html
  actingweb/templates/aw-actor-www-root.html
  actingweb/templates/aw-actor-www-trust-new.html
  actingweb/templates/aw-actor-www-trust.html
  actingweb/templates/aw-oauth-authorization-form.html
  actingweb/templates/aw-oauth-email.html
  actingweb/templates/aw-root-created.html
  actingweb/templates/aw-root-factory.html
  actingweb/templates/aw-root-failed.html
  actingweb/templates/aw-verify-email.html
  actingweb/templates/base.html
  docs/guides/async-hooks-migration.rst
  docs/guides/hooks.rst
  docs/guides/mcp-quickstart.rst
  docs/quickstart/getting-started.rst
  docs/quickstart/local-dev-setup.rst
  docs/quickstart/overview.rst
  docs/reference/hooks-reference.rst
  docs/reference/routing-overview.rst
  docs/sdk/actor-interface.rst
  docs/sdk/async-operations.rst
  docs/sdk/authenticated-views.rst
  docs/sdk/developer-api.rst
  pyproject.toml
  tests/test_fastapi_template_response.py
  tests/test_hook_metadata.py
  tests/test_mcp_server_name.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Fix stale property lookup rows on bulk delete with programmatic config
  CHANGELOG.rst
  actingweb/db/__init__.py
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  tests/test_property_lookup.py
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend

Release v3.12.0
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Preserve other actors' DynamoDB lookup rows on bulk delete
  CHANGELOG.rst
  actingweb/db/dynamodb/property.py
  tests/test_property_lookup.py
Due: dynamodb, postgresql, DynamoDB Backend

Fix lookup-preservation regression test for PostgreSQL semantics
  tests/test_property_lookup.py
Due: none

Release v3.12.0 (#114)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/db/__init__.py
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  pyproject.toml
  tests/test_property_lookup.py
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend

Fix builder clobbering of property-lookup env overrides
  CHANGELOG.rst
  actingweb/interface/app.py
  tests/test_property_lookup.py
  thoughts/plans/2026-07-23-dynamodb-scalability.md
  thoughts/research/2026-07-23-dynamodb-scaling-defects.md
Due: dynamodb, postgresql, Interface Layer

Memoise DynamoDB table-existence checks + auto-create opt-out
  CHANGELOG.rst
  actingweb/db/dynamodb/_ensure.py
  actingweb/db/dynamodb/actor.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/dynamodb/peertrustee.py
  actingweb/db/dynamodb/property.py
  actingweb/db/dynamodb/property_lookup.py
  actingweb/db/dynamodb/subscription.py
  actingweb/db/dynamodb/subscription_diff.py
  actingweb/db/dynamodb/subscription_suspension.py
  actingweb/db/dynamodb/trust.py
  actingweb/interface/app.py
  tests/integration/conftest.py
  tests/test_ensure_table.py
  thoughts/plans/2026-07-23-dynamodb-scalability.md
Due: dynamodb, postgresql, Interface Layer, DynamoDB Backend

Convert per-actor DynamoDB scans to partition queries
  CHANGELOG.rst
  actingweb/db/dynamodb/actor.py
  actingweb/db/dynamodb/peertrustee.py
  actingweb/db/dynamodb/property.py
  actingweb/db/dynamodb/trust.py
  tests/test_scan_to_query.py
Due: dynamodb, postgresql, DynamoDB Backend

Default auto-created DynamoDB tables to on-demand billing
  CHANGELOG.rst
  actingweb/db/dynamodb/actor.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/dynamodb/peertrustee.py
  actingweb/db/dynamodb/property.py
  actingweb/db/dynamodb/property_lookup.py
  actingweb/db/dynamodb/subscription.py
  actingweb/db/dynamodb/subscription_diff.py
  actingweb/db/dynamodb/subscription_suspension.py
  actingweb/db/dynamodb/trust.py
  tests/test_billing_mode.py
Due: dynamodb, postgresql, DynamoDB Backend

Remove hot-path N+1 read amplification
  CHANGELOG.rst
  actingweb/attribute.py
  actingweb/db/dynamodb/property.py
  actingweb/handlers/properties.py
  actingweb/interface/property_store.py
  actingweb/property.py
  actingweb/property_list.py
  actingweb/trust_permissions.py
  tests/test_hot_path_n_plus_one.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, DynamoDB Backend
