Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Record the second 3.15.0 verification and its fixes
  thoughts/plans/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
  thoughts/research/2026-09-25-mcp-oauth-hardening-verification-fixes-2.md
  thoughts/verifications/2026-09-25-mcp-oauth-hardening-and-credential-exposure-2.md
Due: none

Keep a token whose revocation faulted so logout can retry it
  CHANGELOG.rst
  actingweb/handlers/mcp.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/oauth2_server/token_manager.py
  actingweb/single_use.py
  docs/migration/v3.15.rst
  tests/mcp_token_double.py
  tests/test_mcp_auth_code_single_use.py
  tests/test_mcp_client_info_cache.py
  tests/test_mcp_refresh_rotation.py
  tests/test_mcp_token_store_faults.py
  tests/test_oauth2_logout_mcp_tokens.py
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers, OAuth System

Record the third 3.15.0 verification and its fixes
  thoughts/plans/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
  thoughts/research/2026-09-26-mcp-oauth-hardening-verification-fixes-3.md
  thoughts/verifications/2026-09-25-mcp-oauth-hardening-and-credential-exposure-3.md
Due: none

Record the fourth 3.15.0 verification and its fixes
  thoughts/plans/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
  thoughts/research/2026-09-26-mcp-oauth-hardening-verification-fixes-4.md
  thoughts/verifications/2026-09-26-mcp-oauth-hardening-and-credential-exposure.md
Due: none

Answer a faulted MCP logout with 503 so the client retries it
  CHANGELOG.rst
  actingweb/handlers/oauth2_endpoints.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/oauth2_server/token_manager.py
  docs/migration/v3.15.rst
  tests/test_mcp_refresh_rotation.py
  tests/test_mcp_token_store_faults.py
  tests/test_oauth2_logout_mcp_tokens.py
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers, OAuth System

Record the fifth 3.15.0 verification, its fixes and the logout todo
  thoughts/plans/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
  thoughts/research/2026-09-26-mcp-oauth-hardening-verification-fixes-5.md
  thoughts/todo/INDEX.md
  thoughts/todo/mcp-logout-fault-path-followups.md
  thoughts/verifications/2026-09-26-mcp-oauth-hardening-and-credential-exposure-2.md
Due: none

Delete a token's index row first so a store fault never leaves it valid
  CHANGELOG.rst
  actingweb/handlers/oauth2_endpoints.py
  actingweb/oauth2_server/token_manager.py
  docs/migration/v3.15.rst
  tests/test_mcp_refresh_rotation.py
  tests/test_oauth2_logout_mcp_tokens.py
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Triage the dropped-rotation report: real, library-side, for 3.15.0
  thoughts/research/2026-09-26-spa-refresh-reuse-after-dropped-rotation.md
Due: none

Plan: merge the hardening first; the rc follows the successor-rule plan
  thoughts/plans/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
Due: none

Document the mcp_refresh_rotation_backend xdist group
  tests/integration/XDIST_GROUPS.md
Due: none

Plan: replay the recorded successor on a dropped refresh rotation
  thoughts/plans/2026-09-26-spa-refresh-reuse-after-dropped-rotation.md
Due: none

File the PR #148 review's ten items as todos
  thoughts/todo/INDEX.md
  thoughts/todo/db-layer-get-bucket-or-empty.md
  thoughts/todo/mcp-cache-lifecycle-and-revocation.md
  thoughts/todo/mcp-cleanup-expired-tokens-strict-read.md
  thoughts/todo/mcp-logout-fault-path-followups.md
  thoughts/todo/mcp-token-manager-hygiene-followups.md
  thoughts/todo/token-store-fault-contract-gaps.md
Due: none

Supersede the successor-replay plan with a 60 s grace setting
  thoughts/plans/2026-09-26-spa-refresh-reuse-after-dropped-rotation.md
  thoughts/plans/2026-09-27-refresh-grace-setting.md
  thoughts/todo/INDEX.md
  thoughts/todo/token-store-fault-contract-gaps.md
Due: none

Treat an expired SPA refresh token as expired, not as theft
  CHANGELOG.rst
  actingweb/oauth_session.py
  tests/test_oauth2_spa_refresh_rotation.py
Due: dynamodb, postgresql, OAuth System

Make the refresh-token grace period configurable
  CHANGELOG.rst
  actingweb/config.py
  actingweb/constants.py
  actingweb/handlers/oauth2_spa.py
  actingweb/interface/app.py
  actingweb/oauth2_server/token_manager.py
  actingweb/single_use.py
  docs/guides/mcp-applications.rst
  docs/guides/oauth2-setup.rst
  docs/guides/spa-authentication.rst
  docs/guides/troubleshooting.rst
  docs/migration/v3.15.rst
  docs/quickstart/configuration.rst
  docs/reference/security.rst
  tests/test_mcp_refresh_rotation.py
  tests/test_oauth2_spa_refresh_rotation.py
  tests/test_refresh_grace_setting.py
  thoughts/plans/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
  thoughts/plans/2026-09-27-refresh-grace-setting.md
  thoughts/verifications/2026-09-27-refresh-grace-setting-2.md
  thoughts/verifications/2026-09-27-refresh-grace-setting-3.md
  thoughts/verifications/2026-09-27-refresh-grace-setting.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System

Pass a boolean callback in subscription benchmarks
  tests/performance/test_backend_performance.py
  thoughts/todo/INDEX.md
  thoughts/todo/benchmark-subscription-tests-pass-url-to-boolean-callback.md
Due: none

Comment the SPA reuse log split and cover the concurrent branch
  actingweb/handlers/oauth2_spa.py
  tests/test_mcp_refresh_rotation.py
  tests/test_oauth2_spa_refresh_rotation.py
  thoughts/plans/2026-09-27-refresh-grace-setting.md
Due: dynamodb, postgresql, HTTP Handlers

Pre-release v3.15.0rc1
  CHANGELOG.rst
  actingweb/__init__.py
  docs/migration/index.rst
  docs/migration/v3.15.rst
  pyproject.toml
Due: none

Run DynamoDB Local in memory for the test suite
  docker-compose.test.yml
Due: none

Answer SPA refresh store faults with 503 and fix the client guidance
  CHANGELOG.rst
  actingweb/handlers/oauth2_spa.py
  actingweb/interface/app.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/oauth_session.py
  docs/guides/mcp-applications.rst
  docs/guides/spa-authentication.rst
  docs/guides/troubleshooting.rst
  docs/migration/v3.15.rst
  docs/quickstart/configuration.rst
  docs/reference/security.rst
  tests/mcp_token_double.py
  tests/test_oauth2_spa_refresh_rotation.py
  tests/test_spa_token_retry_after.py
  thoughts/plans/2026-09-27-refresh-grace-setting.md
  thoughts/research/2026-09-28-rc1-refresh-guidance-review.md
  thoughts/todo/INDEX.md
  thoughts/todo/token-store-fault-contract-gaps.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers, OAuth System

Release v3.15.0
  CHANGELOG.rst
  actingweb/__init__.py
  docs/guides/troubleshooting.rst
  docs/migration/index.rst
  docs/migration/v3.15.rst
  pyproject.toml
  thoughts/plans/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
  thoughts/todo/INDEX.md
  thoughts/todo/mcp-oauth-connector-conformance-followups.md
Due: none

Re-wrap the migration index entry and date the ChatGPT observation
  docs/guides/troubleshooting.rst
  docs/migration/index.rst
Due: none

Close the 3.15.0 plan
  thoughts/plans/2026-09-25-mcp-oauth-hardening-and-credential-exposure.md
Due: none

Record the live demo OAuth login and delete its todo
  thoughts/plans/2026-08-22-demo-app-consolidation.md
  thoughts/todo/INDEX.md
  thoughts/todo/demo-live-oauth-login-unverified.md
Due: none

Triage the SPA revoke-leaves-chain report into the logout todo
  thoughts/todo/INDEX.md
  thoughts/todo/logout-does-not-revoke-refresh-chain.md
  thoughts/todo/mcp-logout-fault-path-followups.md
  thoughts/todo/token-store-fault-contract-gaps.md
Due: none

Record the consumer's partition size and settle the scan decision
  thoughts/todo/INDEX.md
  thoughts/todo/logout-does-not-revoke-refresh-chain.md
Due: none

Research and plan the 3.15.1 logout and revoke chain-revocation fix
  thoughts/plans/2026-09-29-logout-does-not-revoke-refresh-chain.md
  thoughts/research/2026-09-28-logout-does-not-revoke-refresh-chain.md
Due: none

Keep revoking after a malformed token row; verify the 3.15.1 change a third time
  CHANGELOG.rst
  actingweb/handlers/oauth2_endpoints.py
  actingweb/oauth_session.py
  docs/guides/spa-authentication.rst
  tests/test_oauth_session.py
  thoughts/plans/2026-09-29-logout-does-not-revoke-refresh-chain.md
  thoughts/verifications/2026-09-29-logout-does-not-revoke-refresh-chain-3.md
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Address PR #153 CI and review: xdist group, GET logout, login 503
  CHANGELOG.rst
  CLAUDE.md
  actingweb/db/protocols.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/handlers/oauth2_spa.py
  docs/guides/spa-authentication.rst
  tests/integration/XDIST_GROUPS.md
  tests/test_oauth2_logout_mcp_tokens.py
  tests/test_oauth2_spa_logout_revokes_chain.py
  thoughts/plans/2026-09-29-logout-does-not-revoke-refresh-chain.md
  thoughts/todo/INDEX.md
  thoughts/todo/dynamodb-chain-id-gsi.md
Due: dynamodb, postgresql, HTTP Handlers, Database Common

Release v3.15.1
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Path conditions:
  dynamodb: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  postgresql: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Core Modules: any of: actingweb/actor.py, actingweb/config.py, actingweb/auth.py, actingweb/trust.py, actingweb/subscription.py, actingweb/property.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Interface Layer: any of: actingweb/interface/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  HTTP Handlers: any of: actingweb/handlers/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  OAuth System: any of: actingweb/oauth*.py, actingweb/oauth2_server/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  DynamoDB Backend: any of: actingweb/db/dynamodb/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  PostgreSQL Backend: any of: actingweb/db/postgresql/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Database Common: any of: actingweb/db/__init__.py, actingweb/db/protocols.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
