Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

codecov.yml:

# Codecov configuration for ActingWeb
# https://docs.codecov.com/docs/codecovyml-reference
#
# IMPORTANT: Dual Database Backend Coverage
# ActingWeb supports both DynamoDB and PostgreSQL backends.
# Each backend is tested separately in CI/CD using matrix testing.
# Coverage reports are uploaded with backend-specific flags.
# Total coverage is the union of both backend test runs.

coverage:
  # Coverage status checks
  status:
    # Project-wide coverage
    project:
      default:
        # Target coverage percentage (realistic for current codebase)
        target: 40%
        # Allow coverage to drop by up to 2% without failing
        threshold: 2%
        # Only check coverage on files that were changed
        if_ci_failed: error

    # Per-patch coverage (new/changed code)
    patch:
      default:
        # New code should have at least 20% coverage
        # Note: Database backend code is mutually exclusive (DynamoDB vs PostgreSQL)
        # Each backend is tested separately, so patch coverage appears lower
        target: 20%
        threshold: 15%
        # Don't fail CI on patch coverage - backends are tested separately
        if_ci_failed: success

  # Precision of coverage percentages
  precision: 2

  # Round coverage percentages
  round: down

  # Range for coverage colors (red to green)
  range: "30...80"

# Comment configuration for PRs
comment:
  # Show coverage comment
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different test types and backends
flags:
  # Backend-specific flags - coverage is mutually exclusive
  dynamodb:
    paths:
      - actingweb/
    carryforward: true
  postgresql:
    paths:
      - actingweb/
    carryforward: true

# Flag management - merge coverage from both backends
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

# Ignore specific files/paths from coverage
ignore:
  - "tests/**/*"
  - "**/__init__.py"
  - "**/deprecated_*/**"
  - "docs/**/*"
  - "scripts/**/*"

# Component-level coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - actingweb/actor.py
        - actingweb/config.py
        - actingweb/auth.py
        - actingweb/trust.py
        - actingweb/subscription.py
        - actingweb/property.py
    - component_id: interface
      name: Interface Layer
      paths:
        - actingweb/interface/**
    - component_id: handlers
      name: HTTP Handlers
      paths:
        - actingweb/handlers/**
    - component_id: oauth
      name: OAuth System
      paths:
        - actingweb/oauth*.py
        - actingweb/oauth2_server/**
    - component_id: db_dynamodb
      name: DynamoDB Backend
      paths:
        - actingweb/db/dynamodb/**
      flag_regexes:
        - ^dynamodb$
    - component_id: db_postgresql
      name: PostgreSQL Backend
      paths:
        - actingweb/db/postgresql/**
      flag_regexes:
        - ^postgresql$
    - component_id: db_common
      name: Database Common
      paths:
        - actingweb/db/__init__.py
        - actingweb/db/protocols.py

Address review: correct a false outputSchema claim, pin null handling
  CHANGELOG.rst
  actingweb/handlers/mcp.py
  actingweb/interface/app.py
  actingweb/interface/hooks.py
  docs/reference/hooks-reference.rst
  tests/test_mcp_tool_result_format.py
  thoughts/todo/action-hook-output-schema-not-visible-to-mcp.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Pin that the null exemption does not silence the schema warning
  tests/test_mcp_tool_result_format.py
Due: none

Make MCP structuredContent opt-in (v3.13.0rc4) (#119)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  actingweb/interface/app.py
  actingweb/interface/hooks.py
  actingweb/mcp/decorators.py
  docs/guides/mcp-applications.rst
  docs/guides/mcp-quickstart.rst
  docs/guides/troubleshooting.rst
  docs/migration/index.rst
  docs/migration/v3.11.rst
  docs/migration/v3.13.rst
  docs/reference/hooks-reference.rst
  pyproject.toml
  tests/integration/test_mcp_tools.py
  tests/test_mcp_tool_result_format.py
  tests/test_mcp_tools_call_wire_shape.py
  thoughts/plans/2026-05-26-mcp-version-negotiation-structuredcontent.md
  thoughts/plans/2026-08-03-structuredcontent-promotion-drops-tool-text.md
  thoughts/research/2026-08-03-structuredcontent-promotion-drops-tool-text.md
  thoughts/todo/action-hook-output-schema-not-visible-to-mcp.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Close the structuredContent plan after v3.13.0rc4
  thoughts/plans/2026-08-03-structuredcontent-promotion-drops-tool-text.md
Due: none

Drop the boto3 intersphinx mapping, which 403s in CI
  conf.py
  thoughts/plans/2026-08-03-structuredcontent-promotion-drops-tool-text.md
Due: none

Close the structuredContent plan, and fix the boto3 intersphinx CI failure (#120)
  conf.py
  thoughts/plans/2026-08-03-structuredcontent-promotion-drops-tool-text.md
Due: none

Add research + plan for property-list index integrity fixes
  thoughts/plans/2026-08-08-property-list-index-integrity.md
  thoughts/research/2026-08-07-property-list-index-integrity.md
  thoughts/research/2026-08-08-property-list-index-integrity-review.md
  thoughts/todo/property-list-delete-leaves-holes.md
Due: none

Phase 1: property-list error handling + insert() fix (P0)
  CHANGELOG.rst
  actingweb/db/__init__.py
  actingweb/db/dynamodb/property.py
  actingweb/db/exceptions.py
  actingweb/db/postgresql/property.py
  actingweb/db/protocols.py
  actingweb/handlers/properties.py
  actingweb/property_list.py
  tests/integration/test_db_property_handle.py
  tests/integration/test_property_lists_advanced.py
  tests/test_property_list_integrity.py
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: dynamodb, postgresql, HTTP Handlers, DynamoDB Backend, PostgreSQL Backend, Database Common

Phase 2: property-list repair and detection
  CHANGELOG.rst
  actingweb/interface/property_store.py
  actingweb/property_list.py
  scripts/verify_property_lists.py
  tests/integration/test_property_list_repair.py
  tests/integration/test_verify_property_lists_script.py
  tests/test_property_list_integrity.py
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: dynamodb, postgresql, Interface Layer

Phase 3: fail-fast property-list reads + /items storage-index contract
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/handlers/properties.py
  actingweb/handlers/www.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/interface/property_store.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  tests/integration/test_flask_items_route_parity.py
  tests/integration/test_property_list_http_contract.py
  tests/integration/test_property_list_repair.py
  tests/integration/test_www_list_corruption.py
  tests/test_property_list_integrity.py
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Phase 4 (1/4): get_range()/create_if_not_exists() protocol methods
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/db/protocols.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  tests/integration/test_db_property_range.py
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend, Database Common

Phase 4 (2/4): widen properties.name to TEXT
  actingweb/db/postgresql/migrations/versions/e5f6a7b8c9d0_widen_properties_name_to_text.py
  actingweb/db/postgresql/schema.py
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: dynamodb, postgresql, PostgreSQL Backend

Phase 4 (3/4): v2 storage format -- fractional rank keys
  CHANGELOG.rst
  actingweb/handlers/properties.py
  actingweb/property_list.py
  tests/integration/test_property_list_http_contract.py
  tests/integration/test_property_list_repair.py
  tests/integration/test_property_list_v2.py
  tests/integration/test_verify_property_lists_script.py
  tests/integration/test_www_list_corruption.py
  tests/test_hot_path_n_plus_one.py
  tests/test_property_list.py
  tests/test_property_list_integrity.py
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: dynamodb, postgresql, HTTP Handlers

Phase 4 (4/4): fix verify_property_lists.py crash on v2 lists
  CHANGELOG.rst
  scripts/verify_property_lists.py
  tests/integration/test_verify_property_lists_script.py
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: none

Phase 5 (1/3): migrate_to_v2(), lazy trigger, bulk migration script
  CHANGELOG.rst
  actingweb/interface/property_store.py
  actingweb/property_list.py
  scripts/migrate_property_lists.py
  tests/integration/test_migrate_property_lists_script.py
  tests/integration/test_property_list_migration.py
  tests/integration/test_property_list_v2.py
  tests/test_property_list.py
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: dynamodb, postgresql, Interface Layer

Phase 5 (2/3): docs + todo cleanup
  docs/guides/property-lists.rst
  thoughts/plans/2026-08-08-property-list-index-integrity.md
  thoughts/todo/attribute-list-shift-design.md
  thoughts/todo/property-list-delete-leaves-holes.md
Due: none

Pre-release v3.13.0rc5
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: none

Fix dry-run checkpoint poisoning in bulk property-list scripts
  scripts/migrate_property_lists.py
  scripts/verify_property_lists.py
  tests/integration/test_migrate_property_lists_script.py
  tests/integration/test_verify_property_lists_script.py
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: none

Document that --downgrade order matters relative to app rollback
  docs/guides/property-lists.rst
  scripts/migrate_property_lists.py
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: none

Uncheck two Phase 1/3 manual verification items with no record of having run
  thoughts/plans/2026-08-08-property-list-index-integrity.md
Due: none

Fix four P1 review findings + two verification findings on the v2 list format
  CHANGELOG.rst
  actingweb/handlers/properties.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  scripts/migrate_property_lists.py
  scripts/verify_property_lists.py
  tests/integration/test_migrate_property_lists_script.py
  tests/integration/test_property_list_http_contract.py
  tests/integration/test_verify_property_lists_script.py
  tests/test_property_list_integrity.py
  thoughts/plans/2026-08-08-property-list-index-integrity.md
  thoughts/todo/v2-compact-staged-commit.md
  thoughts/verifications/2026-08-09-property-list-index-integrity.md
Due: dynamodb, postgresql, HTTP Handlers

Note the two doc snapshots' supersession and the walkthrough script's fate
  thoughts/plans/2026-08-08-property-list-index-integrity.md
  thoughts/verifications/2026-08-09-property-list-index-integrity.md
Due: none

Fix a seventh consumer of the v2 range: the --downgrade cleanup
  scripts/migrate_property_lists.py
  tests/integration/test_migrate_property_lists_script.py
  thoughts/todo/v2-compact-staged-commit.md
  thoughts/verifications/2026-08-09-property-list-index-integrity.md
Due: none

Fix three more from the Codex re-review, two of them my own regressions
  actingweb/property_list.py
  scripts/migrate_property_lists.py
  tests/integration/test_migrate_property_lists_script.py
  tests/test_property_list_integrity.py
  thoughts/todo/migrate-to-v2-needs-a-claim.md
  thoughts/verifications/2026-08-09-property-list-index-integrity.md
Due: dynamodb, postgresql

Fix remove(), which had the same rank-resolution bug as pop()
  actingweb/property_list.py
  tests/test_property_list_integrity.py
  thoughts/verifications/2026-08-09-property-list-index-integrity.md
Due: dynamodb, postgresql

Stop lazy migration repairing damaged lists; fix pop/index edge cases
  actingweb/property_list.py
  tests/integration/test_property_list_repair.py
  tests/test_property_list_integrity.py
Due: dynamodb, postgresql

Delete conditionally in pop/remove; docs and script read amplification
  CHANGELOG.rst
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/db/protocols.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  scripts/migrate_property_lists.py
  scripts/verify_property_lists.py
  tests/integration/test_db_property_range.py
  tests/test_property_list_integrity.py
  thoughts/verifications/2026-08-09-property-list-index-integrity.md
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend, Database Common

Fix duplicate-detection false negative; add the rc5 migration guide
  CHANGELOG.rst
  actingweb/interface/property_store.py
  actingweb/property_list.py
  docs/migration/index.rst
  docs/migration/v3.13.rst
  scripts/migrate_property_lists.py
  scripts/verify_property_lists.py
  tests/integration/test_verify_property_lists_script.py
  tests/test_property_list_integrity.py
Due: dynamodb, postgresql, Interface Layer

Document the forward deploy-ordering hazard, the one that actually bites
  CHANGELOG.rst
  docs/guides/property-lists.rst
  docs/migration/v3.13.rst
Due: none

wip: full-list identity duplicates
  actingweb/property_list.py
  scripts/migrate_property_lists.py
  scripts/verify_property_lists.py
  tests/test_property_list_integrity.py
Due: dynamodb, postgresql

Default lazy migration to OFF; find duplicate identities anywhere in a list
  CHANGELOG.rst
  actingweb/property_list.py
  docs/guides/property-lists.rst
  docs/migration/v3.13.rst
  tests/integration/test_property_list_migration.py
  tests/test_property_list_integrity.py
Due: dynamodb, postgresql

Always report duplicate_identities, distinguishing "not checked" from clean
  actingweb/property_list.py
  tests/test_property_list_integrity.py
Due: dynamodb, postgresql

Ship the operator tools in the wheel; make an empty identity result honest
  CHANGELOG.rst
  actingweb/maintenance/__init__.py
  actingweb/maintenance/migrate_property_lists.py
  actingweb/maintenance/verify_property_lists.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  docs/migration/v3.13.rst
  pyproject.toml
  scripts/migrate_property_lists.py
  scripts/verify_property_lists.py
  tests/test_property_list_integrity.py
Due: dynamodb, postgresql

Document that compact() is not crash-safe in EITHER format
  CHANGELOG.rst
  actingweb/property_list.py
  docs/guides/property-lists.rst
  docs/migration/v3.13.rst
  tests/test_property_list_integrity.py
  thoughts/todo/v2-compact-staged-commit.md
Due: dynamodb, postgresql

Pre-release v3.13.0rc6: migration refuses damaged lists
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/interface/property_store.py
  actingweb/maintenance/migrate_property_lists.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  docs/migration/index.rst
  docs/migration/v3.13.rst
  pyproject.toml
  tests/integration/test_migrate_property_lists_script.py
  tests/integration/test_property_list_migration.py
Due: dynamodb, postgresql, Interface Layer

Make the dry run honour --migrate-damaged
  actingweb/maintenance/migrate_property_lists.py
  tests/integration/test_migrate_property_lists_script.py
Due: dynamodb, postgresql

Pre-release v3.13.0rc6: migration refuses damaged lists (#122)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/interface/property_store.py
  actingweb/maintenance/migrate_property_lists.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  docs/migration/index.rst
  docs/migration/v3.13.rst
  pyproject.toml
  tests/integration/test_migrate_property_lists_script.py
  tests/integration/test_property_list_migration.py
  tests/test_property_list_integrity.py
  thoughts/todo/v2-compact-staged-commit.md
Due: dynamodb, postgresql, Interface Layer

Skip heavy CI jobs for documentation-only PRs
  .github/workflows/claude-code-review.yml
  .github/workflows/tests.yml
Due: none

Classify CHANGELOG.rst as code, not docs-only
  .github/workflows/tests.yml
Due: none
