Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Modules, Interface Layer, HTTP Handlers, OAuth System

codecov.yml:

# Codecov configuration for ActingWeb
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Coverage status checks
  status:
    # Project-wide coverage
    project:
      default:
        # Target coverage percentage
        target: 50%
        # Allow coverage to drop by up to 1% without failing
        threshold: 1%
        # Only check coverage on files that were changed
        if_ci_failed: error

    # Per-patch coverage (new/changed code)
    patch:
      default:
        # New code should have at least 60% coverage
        target: 60%
        threshold: 5%

  # Precision of coverage percentages
  precision: 2

  # Round coverage percentages
  round: down

  # Range for coverage colors (red to green)
  range: "30...80"

# Comment configuration for PRs
comment:
  # Show coverage comment
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different test types
flags:
  unittests:
    paths:
      - actingweb/
    carryforward: true

# Ignore specific files/paths from coverage
ignore:
  - "tests/**/*"
  - "**/__init__.py"
  - "**/deprecated_*/**"
  - "docs/**/*"
  - "scripts/**/*"

# Component-level coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - actingweb/actor.py
        - actingweb/config.py
        - actingweb/auth.py
        - actingweb/trust.py
        - actingweb/subscription.py
        - actingweb/property.py
    - component_id: interface
      name: Interface Layer
      paths:
        - actingweb/interface/**
    - component_id: handlers
      name: HTTP Handlers
      paths:
        - actingweb/handlers/**
    - component_id: oauth
      name: OAuth System
      paths:
        - actingweb/oauth*.py
        - actingweb/oauth2_server/**

Move tests due to dynamodb dependency
  tests/integration/test_trust_types_custom.py
Due: none

Flask fixes
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/interface/integrations/flask_integration.py
  pyproject.toml
  thoughts/shared/plans/2025-12-18-passphrase-login-feature.md
Due: unittests, Interface Layer

Fix flaky test
  tests/integration/test_trust_types_custom.py
Due: none

Review fixes
  CHANGELOG.rst
  actingweb/interface/integrations/flask_integration.py
Due: unittests, Interface Layer

Change codecov targets
  codecov.yml
  tests/test_flask_integration.py
Due: none

Fix tests in CI
  .github/workflows/publish-to-pypi.yml
Due: none

Fix date
  CHANGELOG.rst
Due: none

Fixes to various callbacks, including www template rendering
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/aw_web_request.py
  actingweb/config.py
  actingweb/handlers/actions.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/methods.py
  actingweb/handlers/www.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  docs/reference/hooks-reference.rst
  pyproject.toml
  tests/integration/templates/aw-actor-www-custom.html
  tests/integration/test_harness.py
  tests/integration/test_www_templates.py
Due: unittests, Core Modules, Interface Layer, HTTP Handlers

Fix CORS issue for SPA
  CHANGELOG.rst
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
Due: unittests, Interface Layer

Add tests
  CHANGELOG.rst
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  tests/integration/test_oauth2_flows.py
Due: unittests, Interface Layer

DynamoDB TTL support for automatic cleanup of expired tokens, sessions, and auth codes
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/attribute.py
  actingweb/constants.py
  actingweb/db_dynamodb/db_attribute.py
  actingweb/oauth2_server/token_manager.py
  actingweb/oauth_session.py
  docs/guides/database-maintenance.rst
  docs/guides/index.rst
  docs/sdk/attributes-buckets.rst
  pyproject.toml
  tests/test_attribute.py
  tests/test_constants.py
  tests/test_oauth2_spa.py
  tests/test_oauth_session.py
  thoughts/shared/plans/2025-12-26-attribute-storage-maintenance.md
Due: unittests, OAuth System

Address review comments
  actingweb/constants.py
  actingweb/db_dynamodb/db_attribute.py
  actingweb/oauth2_server/token_manager.py
  docs/guides/database-maintenance.rst
  tests/test_constants.py
Due: unittests, OAuth System

Add tests
  tests/integration/test_ttl_cleanup.py
  tests/test_constants.py
Due: none

Fix www and app redirects
  CHANGELOG.rst
  CLAUDE.md
  actingweb/__init__.py
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/root.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  docs/guides/index.rst
  docs/guides/spa-authentication.rst
  docs/guides/web-ui.rst
  docs/quickstart/configuration.rst
  docs/reference/index.rst
  docs/reference/routing-overview.rst
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  tests/integration/test_actor_root_redirect.py
Due: unittests, Interface Layer, HTTP Handlers

Restructure AI docs and fix review comments
  AGENTS.md
  CLAUDE.md
  actingweb/handlers/root.py
Due: unittests, HTTP Handlers

Fix codex review
  actingweb/handlers/root.py
  tests/integration/test_actor_root_redirect.py
Due: unittests, HTTP Handlers

Subscription fixes
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/actor.py
  actingweb/handlers/trust.py
  pyproject.toml
Due: unittests, Core Modules, HTTP Handlers

Review fixes
  actingweb/actor.py
  actingweb/handlers/trust.py
  docs/reference/hooks-reference.rst
Due: unittests, Core Modules, HTTP Handlers

Update docs
  AGENTS.md
  CHANGELOG.rst
  CLAUDE.md
  TODO.md
  actingweb/__init__.py
  docs/contributing/testing.rst
  docs/guides/caching.md
  docs/reference/actingweb-db-dynamodb.rst
  docs/reference/actingweb-db.rst
  docs/reference/actingweb.rst
  docs/reference/index.rst
  docs/sdk/attributes-buckets.rst
  pyproject.toml
Due: none

Add additional trust hooks
  CHANGELOG.rst
  actingweb/handlers/trust.py
  docs/guides/hooks.rst
  docs/reference/hooks-reference.rst
  tests/integration/test_trust_lifecycle.py
Due: unittests, HTTP Handlers

Fix performance tests and expose config in interface
  CHANGELOG.rst
  actingweb/interface/actor_interface.py
  actingweb/logging_config.py
  docs/sdk/advanced-topics.rst
  docs/sdk/developer-api.rst
  poetry.lock
  pyproject.toml
  tests/performance/test_backend_performance.py
  tests/test_actingweb_app.py
Due: unittests, Interface Layer

Fix test coverage issues
  .github/workflows/tests.yml
  codecov.yml
  docs/contributing/backend-testing.rst
  docs/contributing/index.rst
  docs/contributing/testing.rst
  docs/reference/database-backends.rst
Due: none

Add backend verification tests and fix Config to read DATABASE_BACKEND env var
  actingweb/config.py
  tests/test_backend_verification.py
Due: unittests, Core Modules

Exclude benchmark tests from parallel CI runs to eliminate warnings
  .github/workflows/tests.yml
  docs/contributing/testing.rst
  pyproject.toml
  tests/performance/test_backend_performance.py
Due: none

Fix backend verification test for parallel execution with worker-specific prefixes
  tests/test_backend_verification.py
Due: none

Fix Config tests to be environment-aware for dual backend support
  tests/test_config.py
Due: none

FIx test environment issues
  tests/test_db_protocols.py
Due: none

Remove unused fixture
  CHANGELOG.rst
  tests/test_db_protocols.py
Due: none

Postgres fixes
  CHANGELOG.rst
  TODO.md
  actingweb/__init__.py
  actingweb/attribute.py
  actingweb/db/postgresql/trust.py
  actingweb/handlers/subscription.py
  actingweb/handlers/trust.py
  actingweb/interface/trust_manager.py
  actingweb/permission_evaluator.py
  docs/quickstart/configuration.rst
  docs/quickstart/local-dev-setup.rst
  pyproject.toml
  scripts/migrate_db.py
  tests/test_trust_manager_oauth.py
Due: unittests, Interface Layer, HTTP Handlers

Address PR review feedback
  actingweb/interface/trust_manager.py
  actingweb/permission_evaluator.py
  scripts/migrate_db.py
Due: unittests, Interface Layer

Trust deletion error handling
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/trust.py
  pyproject.toml
Due: unittests, HTTP Handlers

Introduce atomic attribute updates
  CHANGELOG.rst
  actingweb/attribute.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/postgresql/attribute.py
  actingweb/handlers/oauth2_spa.py
  actingweb/oauth_session.py
  docs/guides/spa-authentication.rst
  docs/sdk/attributes-buckets.rst
Due: unittests, HTTP Handlers, OAuth System

Review fixes
  actingweb/db/dynamodb/attribute.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/protocols.py
  tests/test_conditional_update_attr.py
Due: unittests

Fix tests
  tests/test_conditional_update_attr.py
Due: none

Further fixes to improve resilience
  actingweb/db/dynamodb/attribute.py
  actingweb/oauth_session.py
Due: unittests, OAuth System

Release v3.8.3: Bug fixes for subscriptions, cookies, and trust timestamps
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/db/dynamodb/trust.py
  actingweb/db/postgresql/trust.py
  actingweb/handlers/oauth2_spa.py
  actingweb/handlers/www.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/property_list.py
  pyproject.toml
Due: unittests, Interface Layer, HTTP Handlers

Review fixes
  actingweb/db/dynamodb/trust.py
  actingweb/db/postgresql/trust.py
  actingweb/db/utils.py
  actingweb/handlers/oauth2_spa.py
  actingweb/interface/integrations/flask_integration.py
Due: unittests, Interface Layer, HTTP Handlers

Add rich metadata for methods/actions endpoints
  CHANGELOG.rst
  actingweb/handlers/actions.py
  actingweb/handlers/methods.py
  actingweb/interface/__init__.py
  actingweb/interface/app.py
  actingweb/interface/hooks.py
  docs/guides/hooks.rst
  docs/guides/mcp-applications.rst
  docs/reference/hooks-reference.rst
  docs/reference/routing-overview.rst
  tests/test_hook_metadata.py
Due: unittests, Interface Layer, HTTP Handlers
