Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

codecov.yml:

# Codecov configuration for ActingWeb
# https://docs.codecov.com/docs/codecovyml-reference
#
# IMPORTANT: Dual Database Backend Coverage
# ActingWeb supports both DynamoDB and PostgreSQL backends.
# Each backend is tested separately in CI/CD using matrix testing.
# Coverage reports are uploaded with backend-specific flags.
# Total coverage is the union of both backend test runs.

coverage:
  # Coverage status checks
  status:
    # Project-wide coverage
    project:
      default:
        # Target coverage percentage (realistic for current codebase)
        target: 40%
        # Allow coverage to drop by up to 2% without failing
        threshold: 2%
        # Only check coverage on files that were changed
        if_ci_failed: error

    # Per-patch coverage (new/changed code)
    patch:
      default:
        # New code should have at least 20% coverage
        # Note: Database backend code is mutually exclusive (DynamoDB vs PostgreSQL)
        # Each backend is tested separately, so patch coverage appears lower
        target: 20%
        threshold: 15%
        # Don't fail CI on patch coverage - backends are tested separately
        if_ci_failed: success

  # Precision of coverage percentages
  precision: 2

  # Round coverage percentages
  round: down

  # Range for coverage colors (red to green)
  range: "30...80"

# Comment configuration for PRs
comment:
  # Show coverage comment
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different test types and backends
flags:
  # Backend-specific flags - coverage is mutually exclusive
  dynamodb:
    paths:
      - actingweb/
    carryforward: true
  postgresql:
    paths:
      - actingweb/
    carryforward: true

# Flag management - merge coverage from both backends
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

# Ignore specific files/paths from coverage
ignore:
  - "tests/**/*"
  - "**/__init__.py"
  - "**/deprecated_*/**"
  - "docs/**/*"
  - "scripts/**/*"

# Component-level coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - actingweb/actor.py
        - actingweb/config.py
        - actingweb/auth.py
        - actingweb/trust.py
        - actingweb/subscription.py
        - actingweb/property.py
    - component_id: interface
      name: Interface Layer
      paths:
        - actingweb/interface/**
    - component_id: handlers
      name: HTTP Handlers
      paths:
        - actingweb/handlers/**
    - component_id: oauth
      name: OAuth System
      paths:
        - actingweb/oauth*.py
        - actingweb/oauth2_server/**
    - component_id: db_dynamodb
      name: DynamoDB Backend
      paths:
        - actingweb/db/dynamodb/**
      flag_regexes:
        - ^dynamodb$
    - component_id: db_postgresql
      name: PostgreSQL Backend
      paths:
        - actingweb/db/postgresql/**
      flag_regexes:
        - ^postgresql$
    - component_id: db_common
      name: Database Common
      paths:
        - actingweb/db/__init__.py
        - actingweb/db/protocols.py

Add logging security hardening, subscription baseline fetch, and list property improvements (#68)
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/auth.py
  actingweb/aw_proxy.py
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/db/postgresql/property_lookup.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/handlers/properties.py
  actingweb/handlers/subscription.py
  actingweb/handlers/trust.py
  actingweb/interface/subscription_manager.py
  actingweb/oauth2_server/state_manager.py
  actingweb/oauth2_server/token_manager.py
  tests/integration/test_spa_api.py
  tests/test_subscription_sync.py
  thoughts/shared/plans/refactor_unified_permission_handling.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend

Add peer permissions caching and permission callback support (#69)
  CHANGELOG.rst
  actingweb/callback_processor.py
  actingweb/config.py
  actingweb/constants.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/properties.py
  actingweb/interface/app.py
  actingweb/interface/subscription_manager.py
  actingweb/peer_permissions.py
  actingweb/property.py
  actingweb/remote_storage.py
  docs/guides/trust-relationships.rst
  docs/migration/v3.10.rst
  docs/protocol/actingweb-spec.rst
  docs/quickstart/configuration.rst
  docs/sdk/actor-interface.rst
  tests/test_callback_processor.py
  tests/test_peer_permissions_unit.py
  tests/test_remote_storage.py
  thoughts/shared/plans/refactor_unified_permission_handling.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Add auto-delete cached peer data on permission revocation
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/config.py
  actingweb/handlers/callbacks.py
  actingweb/interface/app.py
  actingweb/peer_permissions.py
  docs/quickstart/configuration.rst
  pyproject.toml
  tests/test_peer_permissions_unit.py
  tests/test_permission_revocation_integration.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Remove unused json import in test file
  tests/test_permission_revocation_integration.py
Due: none

Add peer permissions caching and permission callback support (#69) (#69)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/callback_processor.py
  actingweb/config.py
  actingweb/constants.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/properties.py
  actingweb/interface/app.py
  actingweb/interface/subscription_manager.py
  actingweb/peer_permissions.py
  actingweb/property.py
  actingweb/remote_storage.py
  docs/guides/trust-relationships.rst
  docs/migration/v3.10.rst
  docs/protocol/actingweb-spec.rst
  docs/quickstart/configuration.rst
  docs/sdk/actor-interface.rst
  pyproject.toml
  tests/test_callback_processor.py
  tests/test_peer_permissions_unit.py
  tests/test_permission_revocation_integration.py
  tests/test_remote_storage.py
  thoughts/shared/plans/refactor_unified_permission_handling.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Doc updates
  CHANGELOG.rst
  docs/contributing/architecture.rst
  thoughts/shared/plans/2026-01-23-refactor_unified_permission_handling.md
Due: none

Automatic peer notification on permission changes
  CHANGELOG.rst
  actingweb/aw_proxy.py
  actingweb/callback_processor.py
  actingweb/config.py
  actingweb/db/dynamodb/property.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/properties.py
  actingweb/handlers/www.py
  actingweb/interface/app.py
  actingweb/interface/property_store.py
  actingweb/oauth2_server/state_manager.py
  actingweb/oauth2_server/token_manager.py
  actingweb/peer_permissions.py
  actingweb/remote_storage.py
  actingweb/trust_permissions.py
  docs/guides/trust-relationships.rst
  docs/migration/v3.10.rst
  docs/quickstart/configuration.rst
  docs/sdk/actor-interface.rst
  tests/integration/conftest.py
  tests/integration/test_oauth2_spa_passphrase.py
  tests/integration/test_peer_profile.py
  tests/integration/test_subscription_flow.py
  tests/integration/test_subscription_processing_flow.py
  tests/integration/test_subscription_suspension_flow.py
  tests/test_async_hooks.py
  tests/test_callback_processor.py
  tests/test_oauth2_spa.py
  tests/test_peer_capabilities.py
  tests/test_peer_permissions_unit.py
  tests/test_peer_profile_unit.py
  tests/test_permission_revocation_integration.py
  tests/test_property_list.py
  tests/test_property_lookup.py
  tests/test_remote_storage.py
  tests/test_subscription_callbacks.py
  tests/test_subscription_processing.py
  tests/test_subscription_sync.py
  thoughts/shared/plans/2026-01-23-refactor_unified_permission_handling.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend

Fix tests
  CHANGELOG.rst
  tests/test_property_list_notifications.py
Due: none

Addressed code review
  actingweb/trust_permissions.py
  tests/test_trust_permissions_unit.py
Due: dynamodb, postgresql

Add permission query endpoint and complete protocol compliance
  CHANGELOG.rst
  actingweb/config.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/permissions.py
  actingweb/interface/app.py
  actingweb/interface/integrations/base_integration.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/interface/subscription_manager.py
  actingweb/peer_permissions.py
  actingweb/permission_evaluator.py
  actingweb/trust_permissions.py
  actingweb/trust_type_registry.py
  docs/migration/v3.10.rst
  docs/protocol/actingweb-spec.rst
  docs/quickstart/configuration.rst
  tests/test_permissions_handler.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Fix tests
  actingweb/config.py
  actingweb/handlers/permissions.py
  tests/test_permissions_handler.py
  tests/test_trust_permissions_unit.py
Due: dynamodb, postgresql, Core Modules, HTTP Handlers

Fix remaining test and permission check
  actingweb/handlers/permissions.py
  tests/test_permissions_handler.py
Due: dynamodb, postgresql, HTTP Handlers

WIP: DB accessor pattern implementation (with pyright errors to fix)
  actingweb/actor.py
  actingweb/attribute.py
  actingweb/db/__init__.py
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/handlers/factory.py
  actingweb/handlers/www.py
  actingweb/interface/subscription_manager.py
  actingweb/interface/trust_manager.py
  actingweb/peer_permissions.py
  actingweb/peertrustee.py
  actingweb/permission_evaluator.py
  actingweb/property.py
  actingweb/property_list.py
  actingweb/subscription.py
  actingweb/trust.py
  docs/contributing/architecture.rst
  docs/quickstart/configuration.rst
  tests/test_db_accessors.py
  tests/test_permissions_handler.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, DynamoDB Backend, PostgreSQL Backend

Fix all pyright type errors in DB accessor pattern
  actingweb/actor.py
  actingweb/attribute.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/protocols.py
  actingweb/interface/trust_manager.py
  actingweb/peertrustee.py
  actingweb/trust.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, DynamoDB Backend, PostgreSQL Backend, Database Common

Fix Buckets.fetch() methods to return False instead of None for consistency
  actingweb/attribute.py
  actingweb/db/protocols.py
Due: dynamodb, postgresql, Database Common

Fix DbSubscriptionSuspension initialization error
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/db/__init__.py
  tests/test_db_accessors.py
Due: dynamodb, postgresql, Core Modules

Fix all pyright warnings (0 errors, 0 warnings)
  actingweb/subscription.py
  actingweb/trust.py
  tests/test_attribute.py
  tests/test_subscription_core.py
Due: dynamodb, postgresql, Core Modules

Address PR review feedback
  actingweb/db/postgresql/property.py
  actingweb/peertrustee.py
Due: dynamodb, postgresql, PostgreSQL Backend

Add database accessor pattern with config injection (#71)
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/attribute.py
  actingweb/db/__init__.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/attribute.py
  actingweb/db/postgresql/property.py
  actingweb/db/protocols.py
  actingweb/handlers/factory.py
  actingweb/handlers/www.py
  actingweb/interface/subscription_manager.py
  actingweb/interface/trust_manager.py
  actingweb/peer_permissions.py
  actingweb/peertrustee.py
  actingweb/permission_evaluator.py
  actingweb/property.py
  actingweb/property_list.py
  actingweb/subscription.py
  actingweb/trust.py
  docs/contributing/architecture.rst
  docs/quickstart/configuration.rst
  tests/test_attribute.py
  tests/test_db_accessors.py
  tests/test_permissions_handler.py
  tests/test_subscription_core.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, DynamoDB Backend, PostgreSQL Backend, Database Common

Add async handler support for mcp
  CHANGELOG.rst
  actingweb/handlers/async_mcp.py
  actingweb/interface/integrations/fastapi_integration.py
  docs/guides/async-hooks-migration.rst
  docs/guides/mcp-quickstart.rst
  tests/test_async_mcp_handler.py
  thoughts/shared/plans/2026-01-25-fastapi-async-handler-optimization.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Fix tests
  actingweb/actor.py
  actingweb/db/protocols.py
  actingweb/handlers/async_mcp.py
  actingweb/peertrustee.py
  tests/test_async_mcp_handler.py
Due: dynamodb, postgresql, Core Modules, HTTP Handlers, Database Common

Update version
  CHANGELOG.rst
Due: none

Add async handler support for mcp (#72)
  CHANGELOG.rst
  actingweb/actor.py
  actingweb/db/protocols.py
  actingweb/handlers/async_mcp.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/peertrustee.py
  docs/guides/async-hooks-migration.rst
  docs/guides/mcp-quickstart.rst
  tests/test_async_mcp_handler.py
  thoughts/shared/plans/2026-01-25-fastapi-async-handler-optimization.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, Database Common

Fix subscription baseline sync for list properties
  CHANGELOG.rst
  actingweb/interface/subscription_manager.py
  actingweb/remote_storage.py
  tests/test_remote_storage.py
  tests/test_subscription_manager.py
  thoughts/shared/completed/2026-01-25-subscription-list-property-bug-fix.md
Due: dynamodb, postgresql, Interface Layer

Standardize list property format and fix collision detection
  CHANGELOG.rst
  actingweb/handlers/properties.py
  actingweb/interface/subscription_manager.py
  actingweb/property.py
  actingweb/property_list.py
  actingweb/remote_storage.py
  docs/guides/property-lists.rst
  docs/protocol/actingweb-spec.rst
  tests/integration/test_property_list_collision.py
  tests/integration/test_spa_api.py
  tests/test_property_list.py
  tests/test_remote_storage.py
  tests/test_subscription_manager.py
  thoughts/shared/test-requirements-from-actingweb-mcp.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Fix possibly unbound variable in conftest.py
  tests/integration/conftest.py
Due: none

Fix Pylance warnings and apply ruff formatting
  actingweb/handlers/properties.py
  tests/integration/test_property_list_collision.py
  tests/test_hook_metadata.py
  tests/test_property_list.py
Due: dynamodb, postgresql, HTTP Handlers

Fix PostgreSQL test failure in property_list_collision tests
  tests/integration/test_property_list_collision.py
Due: none

Fix subscription baseline sync for list properties (#73)
  CHANGELOG.rst
  actingweb/handlers/properties.py
  actingweb/interface/subscription_manager.py
  actingweb/property.py
  actingweb/property_list.py
  actingweb/remote_storage.py
  docs/guides/property-lists.rst
  docs/protocol/actingweb-spec.rst
  tests/integration/conftest.py
  tests/integration/test_property_list_collision.py
  tests/integration/test_spa_api.py
  tests/test_hook_metadata.py
  tests/test_property_list.py
  tests/test_remote_storage.py
  tests/test_subscription_manager.py
  thoughts/shared/completed/2026-01-25-subscription-list-property-bug-fix.md
  thoughts/shared/test-requirements-from-actingweb-mcp.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Fix DynamoDB table creation race condition in parallel tests
  actingweb/db/dynamodb/actor.py
  actingweb/db/dynamodb/attribute.py
  actingweb/db/dynamodb/peertrustee.py
  actingweb/db/dynamodb/property.py
  actingweb/db/dynamodb/subscription.py
  actingweb/db/dynamodb/subscription_diff.py
  actingweb/db/dynamodb/trust.py
Due: dynamodb, postgresql, DynamoDB Backend

Add request correlation and enhanced logging for distributed tracing
  CHANGELOG.rst
  CLAUDE.md
  actingweb/auth.py
  actingweb/aw_proxy.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/log_filter.py
  actingweb/logging_config.py
  actingweb/request_context.py
  docs/guides/logging-and-correlation.rst
  docs/quickstart/configuration.rst
  tests/test_auth_context_integration.py
  tests/test_fastapi_context_integration.py
  tests/test_flask_context_integration.py
  tests/test_log_filter.py
  tests/test_logging_config.py
  tests/test_proxy_correlation.py
  tests/test_request_context.py
Due: dynamodb, postgresql, Core Modules, Interface Layer

Fix PUT/DELETE correlation headers and update header tests
  actingweb/aw_proxy.py
  tests/test_aw_proxy.py
Due: dynamodb, postgresql

Add logging guide to documentation index
  docs/guides/index.rst
Due: none

Fix context formatting default to be opt-in
  actingweb/logging_config.py
  tests/test_auth_context_integration.py
  tests/test_fastapi_context_integration.py
  tests/test_flask_context_integration.py
  tests/test_logging_config.py
Due: dynamodb, postgresql

Relax performance test thresholds for CI variability
  tests/test_log_filter.py
  tests/test_request_context.py
Due: none

Fix context propagation, add warning for lambda freeze risk
  CHANGELOG.rst
  actingweb/interface/app.py
  actingweb/interface/integrations/fastapi_integration.py
  docs/quickstart/configuration.rst
  docs/quickstart/deployment.rst
Due: dynamodb, postgresql, Interface Layer

Fix ruff UP035: Import Callable from collections.abc instead of typing
  actingweb/interface/integrations/fastapi_integration.py
Due: dynamodb, postgresql, Interface Layer

Add request correlation and enhanced logging for distributed tracing (#75)
  CHANGELOG.rst
  CLAUDE.md
  actingweb/auth.py
  actingweb/aw_proxy.py
  actingweb/interface/app.py
  actingweb/interface/integrations/fastapi_integration.py
  actingweb/interface/integrations/flask_integration.py
  actingweb/log_filter.py
  actingweb/logging_config.py
  actingweb/request_context.py
  docs/guides/index.rst
  docs/guides/logging-and-correlation.rst
  docs/quickstart/configuration.rst
  docs/quickstart/deployment.rst
  docs/reference/actingweb.rst
  tests/test_auth_context_integration.py
  tests/test_aw_proxy.py
  tests/test_fastapi_context_integration.py
  tests/test_flask_context_integration.py
  tests/test_log_filter.py
  tests/test_logging_config.py
  tests/test_proxy_correlation.py
  tests/test_request_context.py
Due: dynamodb, postgresql, Core Modules, Interface Layer

Subscription fixes
  CHANGELOG.rst
  actingweb/config.py
  actingweb/handlers/callbacks.py
  actingweb/handlers/properties.py
  actingweb/interface/app.py
  actingweb/interface/authenticated_views.py
  actingweb/interface/subscription_manager.py
  docs/protocol/actingweb-spec.rst
  tests/integration/test_post_properties.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers
