Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

codecov.yml:

# Codecov configuration for ActingWeb
# https://docs.codecov.com/docs/codecovyml-reference
#
# IMPORTANT: Dual Database Backend Coverage
# ActingWeb supports both DynamoDB and PostgreSQL backends.
# Each backend is tested separately in CI/CD using matrix testing.
# Coverage reports are uploaded with backend-specific flags.
# Total coverage is the union of both backend test runs.

coverage:
  # Coverage status checks
  status:
    # Project-wide coverage
    project:
      default:
        # Target coverage percentage (realistic for current codebase)
        target: 40%
        # Allow coverage to drop by up to 2% without failing
        threshold: 2%
        # Only check coverage on files that were changed
        if_ci_failed: error

    # Per-patch coverage (new/changed code)
    patch:
      default:
        # New code should have at least 20% coverage
        # Note: Database backend code is mutually exclusive (DynamoDB vs PostgreSQL)
        # Each backend is tested separately, so patch coverage appears lower
        target: 20%
        threshold: 15%
        # Don't fail CI on patch coverage - backends are tested separately
        if_ci_failed: success

  # Precision of coverage percentages
  precision: 2

  # Round coverage percentages
  round: down

  # Range for coverage colors (red to green)
  range: "30...80"

# Comment configuration for PRs
comment:
  # Show coverage comment
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different test types and backends
flags:
  # Backend-specific flags - coverage is mutually exclusive
  dynamodb:
    paths:
      - actingweb/
    carryforward: true
  postgresql:
    paths:
      - actingweb/
    carryforward: true

# Flag management - merge coverage from both backends
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

# Ignore specific files/paths from coverage
ignore:
  - "tests/**/*"
  - "**/__init__.py"
  - "**/deprecated_*/**"
  - "docs/**/*"
  - "scripts/**/*"

# Component-level coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - actingweb/actor.py
        - actingweb/config.py
        - actingweb/auth.py
        - actingweb/trust.py
        - actingweb/subscription.py
        - actingweb/property.py
    - component_id: interface
      name: Interface Layer
      paths:
        - actingweb/interface/**
    - component_id: handlers
      name: HTTP Handlers
      paths:
        - actingweb/handlers/**
    - component_id: oauth
      name: OAuth System
      paths:
        - actingweb/oauth*.py
        - actingweb/oauth2_server/**
    - component_id: db_dynamodb
      name: DynamoDB Backend
      paths:
        - actingweb/db/dynamodb/**
      flag_regexes:
        - ^dynamodb$
    - component_id: db_postgresql
      name: PostgreSQL Backend
      paths:
        - actingweb/db/postgresql/**
      flag_regexes:
        - ^postgresql$
    - component_id: db_common
      name: Database Common
      paths:
        - actingweb/db/__init__.py
        - actingweb/db/protocols.py

Research: the library's own callers pay the v2 list cost
  thoughts/research/2026-08-20-v2-cost-in-library-callers.md
  thoughts/research/2026-08-20-v2-positional-access-cost.md
  thoughts/todo/INDEX.md
  thoughts/todo/authenticated-list-store-create-delete-broken.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/library-callers-pay-v2-list-cost.md
  thoughts/todo/list-delete-by-value-primitive.md
Due: none

Start implementation: v2 list read cost (3.14.0), mark plan active
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: none

Phase 1: tell the truth, and pin the cold-start DescribeTable budget
  actingweb/db/protocols.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  tests/test_cold_start_budget.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, Database Common

Phase 2: fix AuthenticatedPropertyListStore's TypeError and read-check write gap
  actingweb/interface/authenticated_views.py
  docs/sdk/authenticated-views.rst
  tests/test_authenticated_views.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, Interface Layer

Phase 3: the library's own callers stop paying the v2 list read cost
  actingweb/actor.py
  actingweb/handlers/properties.py
  actingweb/handlers/trust.py
  actingweb/handlers/www.py
  actingweb/interface/property_store.py
  actingweb/property.py
  tests/test_v2_cost_library_callers.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Phase 4: plain-property reads stop paying for the actor's list rows
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  tests/test_v2_cost_plain_property_partition.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend

Phase 5: an advisory count, so a count stops costing a whole list
  actingweb/handlers/properties.py
  actingweb/interface/authenticated_views.py
  actingweb/interface/property_store.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  tests/test_property_list_notifications.py
  tests/test_v2_count_hint.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Phase 6: consistent_read becomes a per-call parameter
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/db/protocols.py
  actingweb/interface/authenticated_views.py
  actingweb/interface/property_store.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  tests/test_property_list_integrity.py
  tests/test_v2_consistent_read.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, Interface Layer, DynamoDB Backend, PostgreSQL Backend, Database Common

Phase 7: value-addressed reads
  actingweb/interface/authenticated_views.py
  actingweb/interface/property_store.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  tests/test_v2_value_addressed_reads.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, Interface Layer

Phase 8: the conditional-set and last-rank backend primitives
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/db/protocols.py
  tests/integration/test_db_property_range.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend, Database Common

Phase 9: metadata writes become compare-and-swap
  actingweb/__init__.py
  actingweb/handlers/properties.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  docs/migration/v3.13.rst
  tests/integration/test_property_list_migration.py
  tests/test_property_list_integrity.py
  tests/test_v2_metadata_cas.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, HTTP Handlers

Phase 9B: append()/extend() stop paying the whole-list read
  actingweb/property_list.py
  docs/guides/property-lists.rst
  tests/test_property_list_integrity.py
  tests/test_v2_append_last_rank.py
  tests/test_v2_cost_library_callers.py
  tests/test_v2_count_hint.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql

Phase 10: handle mutations and the value-addressed writers
  actingweb/interface/authenticated_views.py
  actingweb/interface/property_store.py
  actingweb/property_list.py
  actingweb/remote_storage.py
  docs/guides/property-lists.rst
  docs/guides/subscriptions.rst
  docs/protocol/actingweb-spec.rst
  tests/integration/test_property_list_handle_mutators.py
  tests/test_property_list_notifications.py
  tests/test_remote_storage.py
  tests/test_v2_handle_mutators.py
  tests/test_v2_value_addressed_reads.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, Interface Layer

Phase 11: the library's own bulk endpoint moves onto handles
  actingweb/handlers/properties.py
  actingweb/handlers/www.py
  docs/guides/property-lists.rst
  tests/test_bulk_list_update_handles.py
  tests/test_v2_cost_library_callers.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, HTTP Handlers

Phase 12: whole-list teardown stops being a serial delete loop
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/db/protocols.py
  actingweb/maintenance/migrate_property_lists.py
  actingweb/property_list.py
  tests/integration/test_property_list_batch_teardown.py
  tests/test_property_list_batch_delete.py
  tests/test_property_list_integrity.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend, Database Common

Phase 13: an orphan-row scan operators can trust
  actingweb/maintenance/verify_orphans.py
  docs/guides/database-maintenance.rst
  docs/reference/actor-deletion.rst
  pyproject.toml
  scripts/verify_orphans.py
  tests/integration/test_verify_orphans.py
  tests/test_verify_orphans.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
  thoughts/todo/trust-create-approved-param-type-mismatch.md
Due: dynamodb, postgresql

Phase 14: Release 3.14.0
  CHANGELOG.rst
  actingweb/__init__.py
  docs/guides/property-lists.rst
  docs/migration/common-pitfalls.rst
  docs/migration/index.rst
  docs/migration/v3.14.rst
  docs/reference/interface-api.rst
  docs/sdk/authenticated-views.rst
  docs/sdk/developer-api.rst
  pyproject.toml
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
  thoughts/todo/INDEX.md
  thoughts/todo/attribute-list-shift-design.md
  thoughts/todo/authenticated-list-store-create-delete-broken.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/library-callers-pay-v2-list-cost.md
  thoughts/todo/list-delete-by-value-primitive.md
  thoughts/todo/orphan-detection-in-verifier.md
  thoughts/todo/prop-list-key-prefix-scheme.md
  thoughts/todo/property-fetch-reads-whole-partition.md
  thoughts/todo/whole-list-rewrite-atomicity.md
Due: none

Close out the v2 list read cost plan: status done, implementation summary
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: none

Fix PR #134 review findings: value-addressed update/remove correctness
  actingweb/handlers/properties.py
  actingweb/interface/property_store.py
  actingweb/property_list.py
  actingweb/remote_storage.py
  docs/guides/subscriptions.rst
  docs/protocol/actingweb-spec.rst
  tests/test_property_list_notifications.py
  tests/test_remote_storage.py
  tests/test_v2_handle_mutators.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Action the 3.14.0 verification findings
  CHANGELOG.rst
  actingweb/db/protocols.py
  actingweb/interface/property_store.py
  actingweb/maintenance/__init__.py
  actingweb/maintenance/verify_orphans.py
  actingweb/property_list.py
  actingweb/remote_storage.py
  docs/guides/database-maintenance.rst
  docs/guides/property-lists.rst
  docs/guides/subscriptions.rst
  docs/migration/v3.14.rst
  docs/protocol/actingweb-spec.rst
  docs/reference/actor-deletion.rst
  docs/sdk/authenticated-views.rst
  tests/test_authenticated_views.py
  tests/test_bulk_list_update_handles.py
  tests/test_cold_start_budget.py
  tests/test_property_list_notifications.py
  tests/test_remote_storage.py
  tests/test_v2_consistent_read.py
  tests/test_v2_handle_mutators.py
  tests/test_v2_metadata_cas.py
  tests/test_verify_orphans.py
  thoughts/plans/2026-08-20-v2-positional-access-cost.md
  thoughts/todo/INDEX.md
  thoughts/todo/v2-list-access-verification-followups.md
  thoughts/verifications/2026-08-21-v2-positional-access-cost.md
Due: dynamodb, postgresql, Interface Layer, Database Common

Fix DbTrust.create() approved default; enforce ruff format in CI
  .github/workflows/tests.yml
  CHANGELOG.rst
  CLAUDE.md
  actingweb/db/dynamodb/trust.py
  actingweb/db/postgresql/trust.py
  thoughts/todo/INDEX.md
  thoughts/todo/trust-create-approved-param-type-mismatch.md
  thoughts/todo/v2-list-access-verification-followups.md
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend

Apply pinned ruff format to the 19 files that drifted during 3.14.0
  actingweb/db/dynamodb/property.py
  actingweb/db/postgresql/property.py
  actingweb/db/protocols.py
  actingweb/handlers/properties.py
  actingweb/handlers/trust.py
  actingweb/interface/authenticated_views.py
  actingweb/interface/property_store.py
  actingweb/property.py
  actingweb/property_list.py
  actingweb/remote_storage.py
  tests/test_bulk_list_update_handles.py
  tests/test_cold_start_budget.py
  tests/test_property_list_batch_delete.py
  tests/test_property_list_notifications.py
  tests/test_remote_storage.py
  tests/test_v2_cost_library_callers.py
  tests/test_v2_cost_plain_property_partition.py
  tests/test_v2_handle_mutators.py
  tests/test_v2_metadata_cas.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, DynamoDB Backend, PostgreSQL Backend, Database Common

Add regression test for DbTrust.create()'s bare approved default
  tests/integration/test_trust_create_defaults.py
Due: none

Post-3.14.0 housekeeping: trust-create bool fix, ruff format drift + CI enforcement (#135)
  .github/workflows/tests.yml
  CHANGELOG.rst
  CLAUDE.md
  actingweb/db/dynamodb/property.py
  actingweb/db/dynamodb/trust.py
  actingweb/db/postgresql/property.py
  actingweb/db/postgresql/trust.py
  actingweb/db/protocols.py
  actingweb/handlers/properties.py
  actingweb/handlers/trust.py
  actingweb/interface/authenticated_views.py
  actingweb/interface/property_store.py
  actingweb/property.py
  actingweb/property_list.py
  actingweb/remote_storage.py
  tests/integration/test_trust_create_defaults.py
  tests/test_bulk_list_update_handles.py
  tests/test_cold_start_budget.py
  tests/test_property_list_batch_delete.py
  tests/test_property_list_notifications.py
  tests/test_remote_storage.py
  tests/test_v2_cost_library_callers.py
  tests/test_v2_cost_plain_property_partition.py
  tests/test_v2_handle_mutators.py
  tests/test_v2_metadata_cas.py
  thoughts/todo/INDEX.md
  thoughts/todo/trust-create-approved-param-type-mismatch.md
  thoughts/todo/v2-list-access-verification-followups.md
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, DynamoDB Backend, PostgreSQL Backend, Database Common

Fix documented APIs that do not exist and the peer_id provenance defect
  CHANGELOG.rst
  actingweb/handlers/callbacks.py
  actingweb/interface/__init__.py
  actingweb/interface/app.py
  actingweb/mcp/decorators.py
  docs/guides/access-control-simple.rst
  docs/guides/mcp-applications.rst
  docs/guides/subscriptions.rst
  docs/guides/troubleshooting.rst
  docs/guides/trust-relationships.rst
  docs/quickstart/getting-started.rst
  docs/reference/hooks-reference.rst
  docs/sdk/actor-interface.rst
  tests/integration/test_harness.py
  tests/integration/test_subscription_callback_flows.py
  tests/test_docs_api_consistency.py
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
  thoughts/plans/2026-08-22-demo-app-consolidation.md
  thoughts/research/2026-08-22-agent-consumable-library-conventions.md
  thoughts/research/2026-08-22-ai-agent-discoverability.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers

Add a runnable peer-to-peer quickstart (examples/p2p_quickstart.py)
  CHANGELOG.rst
  docs/guides/index.rst
  docs/guides/p2p-quickstart.rst
  docs/guides/subscriptions.rst
  docs/guides/trust-relationships.rst
  examples/p2p_quickstart.py
  index.rst
  tests/test_p2p_quickstart.py
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
Due: none

Repair the MCP quickstart: two-stage OAuth framing, DB prerequisite, client config
  CHANGELOG.rst
  docs/guides/mcp-quickstart.rst
  examples/mcp_quickstart.py
  tests/test_mcp_quickstart.py
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
Due: none

Convert README documentation pointers to absolute readthedocs.io URLs
  CHANGELOG.rst
  README.rst
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
Due: none

Add AI/MCP discovery metadata to pyproject.toml
  CHANGELOG.rst
  pyproject.toml
  tests/test_distribution_metadata.py
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
Due: none

Add a module docstring to actingweb/__init__.py
  CHANGELOG.rst
  actingweb/__init__.py
  tests/test_init_docstring.py
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
Due: none

Rewrite AGENTS.md as a thin pointer to CLAUDE.md
  .github/workflows/claude-code-review.yml
  AGENTS.md
  CHANGELOG.rst
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
Due: none

Publish an Agent Skill for consumers building on ActingWeb
  AGENTS.md
  CHANGELOG.rst
  README.rst
  skills/actingweb-app/SKILL.md
  tests/test_docs_api_consistency.py
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
Due: none

Add superseded-API banners to migration guides and illustrative markers
  CHANGELOG.rst
  docs/contributing/architecture.rst
  docs/contributing/style-guide.rst
  docs/migration/index.rst
  docs/migration/v3.1.rst
  docs/migration/v3.10.rst
  docs/migration/v3.11.rst
  docs/migration/v3.13.rst
  docs/migration/v3.14.rst
  docs/migration/v3.7.rst
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
Due: none

Generate llms.txt via sphinx-llms-txt
  CHANGELOG.rst
  conf.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
Due: none

Publish the Sphinx-invisible markdown files, delete stale duplicates
  .github/workflows/tests.yml
  CHANGELOG.rst
  TODO.md
  docs/contributing/TESTING.md
  docs/guides/caching.md
  docs/guides/caching.rst
  docs/guides/hooks.rst
  docs/guides/index.rst
  docs/guides/oauth-login-flow.md
  docs/guides/oauth-login-flow.rst
  docs/guides/postgresql-migration.md
  tests/integration/README.md
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
Due: none

Mark ai-agent-discoverability plan done
  thoughts/plans/2026-08-22-ai-agent-discoverability.md
Due: none

Address advisor review: dedupe CHANGELOG section, scope caching.rst, file deferred-work todo
  CHANGELOG.rst
  docs/guides/caching.rst
  thoughts/todo/INDEX.md
  thoughts/todo/ai-agent-discoverability-followups.md
Due: none

Add the actor programming model to the Agent Skill
  skills/actingweb-app/SKILL.md
Due: none

Correct SKILL.md: Attributes is a real, app-facing private store
  skills/actingweb-app/SKILL.md
Due: none
