Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

codecov.yml:

# Codecov configuration for ActingWeb
# https://docs.codecov.com/docs/codecovyml-reference
#
# IMPORTANT: Dual Database Backend Coverage
# ActingWeb supports both DynamoDB and PostgreSQL backends.
# Each backend is tested separately in CI/CD using matrix testing.
# Coverage reports are uploaded with backend-specific flags.
# Total coverage is the union of both backend test runs.

coverage:
  # Coverage status checks
  status:
    # Project-wide coverage
    project:
      default:
        # Target coverage percentage (realistic for current codebase)
        target: 40%
        # Allow coverage to drop by up to 2% without failing
        threshold: 2%
        # Only check coverage on files that were changed
        if_ci_failed: error

    # Per-patch coverage (new/changed code)
    patch:
      default:
        # New code should have at least 20% coverage
        # Note: Database backend code is mutually exclusive (DynamoDB vs PostgreSQL)
        # Each backend is tested separately, so patch coverage appears lower
        target: 20%
        threshold: 15%
        # Don't fail CI on patch coverage - backends are tested separately
        if_ci_failed: success

  # Precision of coverage percentages
  precision: 2

  # Round coverage percentages
  round: down

  # Range for coverage colors (red to green)
  range: "30...80"

# Comment configuration for PRs
comment:
  # Show coverage comment
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different test types and backends
flags:
  # Backend-specific flags - coverage is mutually exclusive
  dynamodb:
    paths:
      - actingweb/
    carryforward: true
  postgresql:
    paths:
      - actingweb/
    carryforward: true

# Flag management - merge coverage from both backends
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

# Ignore specific files/paths from coverage
ignore:
  - "tests/**/*"
  - "**/__init__.py"
  - "**/deprecated_*/**"
  - "docs/**/*"
  - "scripts/**/*"

# Component-level coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - actingweb/actor.py
        - actingweb/config.py
        - actingweb/auth.py
        - actingweb/trust.py
        - actingweb/subscription.py
        - actingweb/property.py
    - component_id: interface
      name: Interface Layer
      paths:
        - actingweb/interface/**
    - component_id: handlers
      name: HTTP Handlers
      paths:
        - actingweb/handlers/**
    - component_id: oauth
      name: OAuth System
      paths:
        - actingweb/oauth*.py
        - actingweb/oauth2_server/**
    - component_id: db_dynamodb
      name: DynamoDB Backend
      paths:
        - actingweb/db/dynamodb/**
      flag_regexes:
        - ^dynamodb$
    - component_id: db_postgresql
      name: PostgreSQL Backend
      paths:
        - actingweb/db/postgresql/**
      flag_regexes:
        - ^postgresql$
    - component_id: db_common
      name: Database Common
      paths:
        - actingweb/db/__init__.py
        - actingweb/db/protocols.py

Probe: docs-only change to observe skipped matrix check runs
  thoughts/todo/.ci-probe.md
Due: none

Gate the tests matrix per step, not per job
  .github/workflows/tests.yml
Due: none

Probe base: allow ci/probe-base as PR base (temporary)
  .github/workflows/tests.yml
Due: none

Probe: docs-only diff
  thoughts/todo/.ci-probe.md
Due: none

Skip heavy CI jobs for documentation-only PRs (#123)
  .github/workflows/claude-code-review.yml
  .github/workflows/tests.yml
Due: none

Add todo/INDEX.md; audit plan statuses and research coverage
  thoughts/plans/2025-10-03-actingweb-mcp-protection-tests.md
  thoughts/plans/2025-12-14-remaining-handlers-analysis.md
  thoughts/plans/2025-12-18-test-coverage-improvements.md
  thoughts/plans/2026-01-20-auto-subscription-handling.md
  thoughts/plans/2026-01-25-fastapi-async-handler-optimization.md
  thoughts/plans/2026-02-01-subscription-sync-redundancy-fix.md
  thoughts/plans/2026-07-30-mcp-trust-cache-crosses-clients.md
  thoughts/research/2026-08-13-mcp-2026-07-28-stateless-revision.md
  thoughts/todo/2026-06-15-postgres-parallel-delete-not-persisting.md
  thoughts/todo/INDEX.md
  thoughts/todo/action-hook-output-schema-not-visible-to-mcp.md
  thoughts/todo/attribute-list-shift-design.md
  thoughts/todo/ci-postgres-parallel-flakiness.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/mcp-2026-07-28-dual-era-support.md
  thoughts/todo/mcp-cache-lifecycle-and-revocation.md
  thoughts/todo/migrate-to-v2-needs-a-claim.md
  thoughts/todo/orphan-detection-in-verifier.md
  thoughts/todo/property-fetch-reads-whole-partition.md
  thoughts/todo/subs-list-cache-asymmetry.md
  thoughts/todo/v2-compact-staged-commit.md
Due: none

Add todo/INDEX.md; audit plan statuses and research coverage (#126)
  thoughts/plans/2025-10-03-actingweb-mcp-protection-tests.md
  thoughts/plans/2025-12-14-remaining-handlers-analysis.md
  thoughts/plans/2025-12-18-test-coverage-improvements.md
  thoughts/plans/2026-01-20-auto-subscription-handling.md
  thoughts/plans/2026-01-25-fastapi-async-handler-optimization.md
  thoughts/plans/2026-02-01-subscription-sync-redundancy-fix.md
  thoughts/plans/2026-07-30-mcp-trust-cache-crosses-clients.md
  thoughts/research/2026-08-13-mcp-2026-07-28-stateless-revision.md
  thoughts/todo/2026-06-15-postgres-parallel-delete-not-persisting.md
  thoughts/todo/INDEX.md
  thoughts/todo/action-hook-output-schema-not-visible-to-mcp.md
  thoughts/todo/attribute-list-shift-design.md
  thoughts/todo/ci-postgres-parallel-flakiness.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/mcp-2026-07-28-dual-era-support.md
  thoughts/todo/mcp-cache-lifecycle-and-revocation.md
  thoughts/todo/migrate-to-v2-needs-a-claim.md
  thoughts/todo/orphan-detection-in-verifier.md
  thoughts/todo/property-fetch-reads-whole-partition.md
  thoughts/todo/subs-list-cache-asymmetry.md
  thoughts/todo/v2-compact-staged-commit.md
Due: none

Plan list metadata integrity for 3.13 GA; defer rewrite atomicity
  thoughts/plans/2026-08-15-property-list-metadata-integrity.md
  thoughts/todo/INDEX.md
  thoughts/todo/migrate-to-v2-needs-a-claim.md
  thoughts/todo/v2-compact-staged-commit.md
  thoughts/todo/whole-list-rewrite-atomicity.md
Due: none

Stop stale metadata reverting a list migration; converge interrupted rewrites
  CHANGELOG.rst
  actingweb/maintenance/migrate_property_lists.py
  actingweb/maintenance/verify_property_lists.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  docs/migration/v3.13.rst
  tests/integration/test_migrate_property_lists_script.py
  tests/integration/test_property_list_migration.py
  tests/test_property_list_integrity.py
  thoughts/plans/2026-08-15-property-list-metadata-integrity.md
  thoughts/todo/INDEX.md
  thoughts/todo/attribute-list-shift-design.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/migrate-to-v2-needs-a-claim.md
  thoughts/todo/v2-compact-staged-commit.md
  thoughts/todo/whole-list-rewrite-atomicity.md
Due: dynamodb, postgresql

Record the release-shape decision: straight to v3.13.0, no rc7
  thoughts/todo/INDEX.md
Due: none

Clear both caches on the skipped-metadata-write path
  actingweb/property_list.py
Due: dynamodb, postgresql

Address Codex review: conditional rollback delete, honest window claims
  CHANGELOG.rst
  actingweb/property_list.py
  docs/guides/property-lists.rst
  docs/migration/v3.13.rst
  tests/test_property_list_integrity.py
  thoughts/todo/whole-list-rewrite-atomicity.md
Due: dynamodb, postgresql

Stop stale metadata reverting a list migration; converge interrupted rewrites (#127)
  CHANGELOG.rst
  actingweb/maintenance/migrate_property_lists.py
  actingweb/maintenance/verify_property_lists.py
  actingweb/property_list.py
  docs/guides/property-lists.rst
  docs/migration/v3.13.rst
  tests/integration/test_migrate_property_lists_script.py
  tests/integration/test_property_list_migration.py
  tests/test_property_list_integrity.py
  thoughts/plans/2026-08-15-property-list-metadata-integrity.md
  thoughts/todo/INDEX.md
  thoughts/todo/attribute-list-shift-design.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/migrate-to-v2-needs-a-claim.md
  thoughts/todo/v2-compact-staged-commit.md
  thoughts/todo/whole-list-rewrite-atomicity.md
Due: dynamodb, postgresql

Lift the postgres DELETE quarantine and instrument the path
  .github/workflows/tests.yml
  CHANGELOG.rst
  actingweb/db/postgresql/attribute.py
  tests/integration/test_trust_oauth_integration.py
  tests/test_pg_delete_diagnostics.py
  thoughts/todo/2026-06-15-postgres-parallel-delete-not-persisting.md
  thoughts/todo/INDEX.md
  thoughts/todo/ci-postgres-parallel-flakiness.md
Due: dynamodb, postgresql, PostgreSQL Backend

Isolate the delete diagnostics so they cannot cause the bug they diagnose
  CHANGELOG.rst
  actingweb/db/postgresql/attribute.py
  tests/test_pg_delete_diagnostics.py
Due: dynamodb, postgresql, PostgreSQL Backend

Cover the failing-SAVEPOINT branch instead of only reasoning about it
  actingweb/db/postgresql/attribute.py
  tests/test_pg_delete_diagnostics.py
Due: dynamodb, postgresql, PostgreSQL Backend

Lift the postgres DELETE quarantine and instrument the path (#128)
  .github/workflows/tests.yml
  CHANGELOG.rst
  actingweb/db/postgresql/attribute.py
  tests/integration/test_trust_oauth_integration.py
  tests/test_pg_delete_diagnostics.py
  thoughts/todo/2026-06-15-postgres-parallel-delete-not-persisting.md
  thoughts/todo/INDEX.md
  thoughts/todo/ci-postgres-parallel-flakiness.md
Due: dynamodb, postgresql, PostgreSQL Backend

Grade the rejection telemetry per origin instead of logging every one
  CHANGELOG.rst
  actingweb/handlers/mcp.py
  tests/test_mcp_dual_era_signal.py
  thoughts/todo/mcp-2026-07-28-dual-era-support.md
Due: dynamodb, postgresql, HTTP Handlers

Evict the least recently seen origin, not the oldest window
  actingweb/handlers/mcp.py
  tests/test_mcp_dual_era_signal.py
Due: dynamodb, postgresql, HTTP Handlers

Guard the MCP legacy-era signal; name versions and log rejections
  CHANGELOG.rst
  actingweb/handlers/mcp.py
  actingweb/mcp/protocol.py
  tests/test_mcp_dual_era_signal.py
  thoughts/todo/mcp-2026-07-28-dual-era-support.md
Due: dynamodb, postgresql, HTTP Handlers

Record row 11 as landed in the todo index
  thoughts/todo/INDEX.md
Due: none

Drop the stale duplicate comment left by the eviction fix
  actingweb/handlers/mcp.py
Due: dynamodb, postgresql, HTTP Handlers

Guard the MCP legacy-era signal; name versions and log rejections (#129)
  CHANGELOG.rst
  actingweb/handlers/mcp.py
  actingweb/mcp/protocol.py
  tests/test_mcp_dual_era_signal.py
  thoughts/todo/INDEX.md
  thoughts/todo/mcp-2026-07-28-dual-era-support.md
Due: dynamodb, postgresql, HTTP Handlers

Evict MCP caches on revocation; warn when a hook's output_schema is invisible
  CHANGELOG.rst
  actingweb/handlers/mcp.py
  actingweb/mcp/invalidation.py
  actingweb/oauth2_server/token_manager.py
  actingweb/oauth_session.py
  actingweb/trust.py
  actingweb/trust_permissions.py
  tests/test_mcp_hook_output_schema_warning.py
  tests/test_mcp_revocation_evicts_caches.py
  thoughts/research/2026-08-15-mcp-actor-cache-holds-instance-state.md
  thoughts/todo/INDEX.md
  thoughts/todo/action-hook-output-schema-not-visible-to-mcp.md
  thoughts/todo/mcp-cache-lifecycle-and-revocation.md
  thoughts/todo/subs-list-cache-asymmetry.md
Due: dynamodb, postgresql, Core Modules, HTTP Handlers, OAuth System

Action the #130 review: wire the reachable revocation paths, close the refill race
  CHANGELOG.rst
  actingweb/handlers/mcp.py
  actingweb/oauth2_server/token_manager.py
  actingweb/oauth_session.py
  tests/test_mcp_revocation_evicts_caches.py
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Move token-owner eviction outside the revocation try block
  actingweb/oauth_session.py
Due: dynamodb, postgresql, OAuth System

Evict MCP caches on revocation; warn when a hook's output_schema is invisible (#130)
  CHANGELOG.rst
  actingweb/handlers/mcp.py
  actingweb/mcp/invalidation.py
  actingweb/oauth2_server/token_manager.py
  actingweb/oauth_session.py
  actingweb/trust.py
  actingweb/trust_permissions.py
  tests/test_mcp_hook_output_schema_warning.py
  tests/test_mcp_revocation_evicts_caches.py
  thoughts/research/2026-08-15-mcp-actor-cache-holds-instance-state.md
  thoughts/todo/INDEX.md
  thoughts/todo/action-hook-output-schema-not-visible-to-mcp.md
  thoughts/todo/mcp-cache-lifecycle-and-revocation.md
  thoughts/todo/subs-list-cache-asymmetry.md
Due: dynamodb, postgresql, Core Modules, HTTP Handlers, OAuth System

Re-verify the nine dynamodb-known-next items against the GA codebase
  thoughts/todo/INDEX.md
  thoughts/todo/dynamodb-known-next.md
Due: none

Correct three claims and three inconsistencies the #131 review caught
  thoughts/todo/2026-06-15-postgres-parallel-delete-not-persisting.md
  thoughts/todo/INDEX.md
  thoughts/todo/dynamodb-known-next.md
Due: none

Re-verify the nine dynamodb-known-next items against the GA codebase (#131)
  thoughts/todo/2026-06-15-postgres-parallel-delete-not-persisting.md
  thoughts/todo/INDEX.md
  thoughts/todo/dynamodb-known-next.md
Due: none

Release v3.13.0
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Reorganise the migration guide around where you are upgrading from
  CHANGELOG.rst
  docs/guides/troubleshooting.rst
  docs/migration/index.rst
  docs/migration/v3.13.rst
Due: none

Name sections by exact title in every row of the rc table
  docs/migration/v3.13.rst
Due: none

Refuse to repair a reverted migration; warn on a stale-format write
  CHANGELOG.rst
  actingweb/maintenance/verify_property_lists.py
  actingweb/property_list.py
  docs/migration/v3.13.rst
  tests/integration/test_verify_property_lists_script.py
  tests/test_property_list_integrity.py
  thoughts/todo/whole-list-rewrite-atomicity.md
Due: dynamodb, postgresql

Say what --repair-reverted actually costs, and when
  actingweb/maintenance/verify_property_lists.py
  actingweb/property_list.py
Due: dynamodb, postgresql

Release v3.13.0 (#132)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/maintenance/verify_property_lists.py
  actingweb/property_list.py
  docs/guides/troubleshooting.rst
  docs/migration/index.rst
  docs/migration/v3.13.rst
  pyproject.toml
  tests/integration/test_verify_property_lists_script.py
  tests/test_property_list_integrity.py
  thoughts/todo/whole-list-rewrite-atomicity.md
Due: dynamodb, postgresql

Re-rank todo/INDEX.md for the post-GA state; prune landed narration
  thoughts/todo/2026-06-15-postgres-parallel-delete-not-persisting.md
  thoughts/todo/INDEX.md
  thoughts/todo/action-hook-output-schema-not-visible-to-mcp.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/mcp-2026-07-28-dual-era-support.md
  thoughts/todo/mcp-cache-lifecycle-and-revocation.md
  thoughts/todo/subs-list-cache-asymmetry.md
  thoughts/todo/whole-list-rewrite-atomicity.md
Due: none

Say that one GA-day defect was fixed and the other only guarded
  thoughts/todo/INDEX.md
Due: none

Re-rank todo/INDEX.md for the post-GA state; prune landed narration (#133)
  thoughts/todo/2026-06-15-postgres-parallel-delete-not-persisting.md
  thoughts/todo/INDEX.md
  thoughts/todo/action-hook-output-schema-not-visible-to-mcp.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/mcp-2026-07-28-dual-era-support.md
  thoughts/todo/mcp-cache-lifecycle-and-revocation.md
  thoughts/todo/subs-list-cache-asymmetry.md
  thoughts/todo/whole-list-rewrite-atomicity.md
Due: none

Research: how the library should answer v2's positional-access cost
  thoughts/research/2026-08-20-v2-positional-access-cost.md
  thoughts/todo/INDEX.md
  thoughts/todo/dynamodb-known-next.md
  thoughts/todo/list-delete-by-value-primitive.md
  thoughts/todo/property-fetch-reads-whole-partition.md
Due: none
