Repository actingweb/actingweb: changes, and which Codecov flags are due for each by the changed paths.
All: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers, OAuth System, DynamoDB Backend, PostgreSQL Backend, Database Common

Address review: expose MCP server_name via with_mcp() fluent API
  CHANGELOG.rst
  actingweb/config.py
  actingweb/handlers/mcp.py
  actingweb/interface/app.py
  actingweb/mcp/sdk_server.py
  docs/guides/mcp-applications.rst
  docs/guides/mcp-quickstart.rst
  docs/quickstart/configuration.rst
  tests/test_mcp_server_name.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Pre-release v3.10.2b3: Configurable MCP server name (#98)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/config.py
  actingweb/handlers/mcp.py
  actingweb/interface/app.py
  actingweb/mcp/sdk_server.py
  docs/guides/mcp-applications.rst
  docs/guides/mcp-quickstart.rst
  docs/quickstart/configuration.rst
  pyproject.toml
  tests/test_mcp_server_name.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Pre-release v3.10.2b4: Configurable MCP server instructions
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/config.py
  actingweb/handlers/mcp.py
  actingweb/interface/app.py
  actingweb/mcp/sdk_server.py
  pyproject.toml
  tests/test_actingweb_app.py
  tests/test_mcp_server_name.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Warn when singleton drops late MCP instructions
  actingweb/mcp/sdk_server.py
  tests/test_mcp_server_name.py
Due: dynamodb, postgresql

Pre-release v3.10.2b4: Configurable MCP server instructions (#99)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/config.py
  actingweb/handlers/mcp.py
  actingweb/interface/app.py
  actingweb/mcp/sdk_server.py
  pyproject.toml
  tests/test_actingweb_app.py
  tests/test_mcp_server_name.py
Due: dynamodb, postgresql, Core Modules, Interface Layer, HTTP Handlers

Add MCP protocol version negotiation and structuredContent support
  CHANGELOG.rst
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/mcp/protocol.py
  tests/test_mcp_tool_result_format.py
  tests/test_mcp_version_negotiation.py
  thoughts/plans/2026-05-26-mcp-version-negotiation-structuredcontent.md
  thoughts/research/2026-05-26-mcp-tool-result-structuredcontent.md
Due: dynamodb, postgresql, HTTP Handlers

Update lock
  poetry.lock
Due: none

Address PR review feedback on MCP version negotiation
  CHANGELOG.rst
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  actingweb/mcp/protocol.py
  tests/test_mcp_tool_result_format.py
Due: dynamodb, postgresql, HTTP Handlers

Drop the mcp SDK dependency; serve MCP entirely hand-rolled
  CHANGELOG.rst
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  actingweb/mcp/__init__.py
  actingweb/mcp/protocol.py
  actingweb/mcp/sdk_server.py
  actingweb/mcp/uri.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  tests/integration/test_mcp_basic.py
  tests/integration/test_mcp_client_descriptions.py
  tests/integration/test_mcp_integration.py
  tests/integration/test_mcp_permission_filtering.py
  tests/integration/test_mcp_prompts.py
  tests/integration/test_mcp_resource_regression.py
  tests/integration/test_mcp_resources.py
  tests/integration/test_mcp_tools.py
  tests/integration/test_oauth2_flows.py
  tests/test_mcp_server_name.py
  thoughts/plans/2026-05-26-mcp-version-negotiation-structuredcontent.md
Due: dynamodb, postgresql, HTTP Handlers

Dedupe MCP test setup into tests/mcp_helpers.py
  tests/mcp_helpers.py
  tests/test_mcp_server_name.py
  tests/test_mcp_tool_result_format.py
  tests/test_mcp_version_negotiation.py
Due: none

Pre-release v3.10.2b5: MCP version negotiation, structuredContent, drop mcp SDK dep
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Pre-release v3.10.2b5: MCP version negotiation, structuredContent, drop mcp SDK dependency (#100)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/async_mcp.py
  actingweb/handlers/mcp.py
  actingweb/handlers/oauth2_endpoints.py
  actingweb/mcp/__init__.py
  actingweb/mcp/protocol.py
  actingweb/mcp/sdk_server.py
  actingweb/mcp/uri.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  tests/integration/test_mcp_basic.py
  tests/integration/test_mcp_client_descriptions.py
  tests/integration/test_mcp_integration.py
  tests/integration/test_mcp_permission_filtering.py
  tests/integration/test_mcp_prompts.py
  tests/integration/test_mcp_resource_regression.py
  tests/integration/test_mcp_resources.py
  tests/integration/test_mcp_tools.py
  tests/integration/test_oauth2_flows.py
  tests/mcp_helpers.py
  tests/test_mcp_server_name.py
  tests/test_mcp_tool_result_format.py
  tests/test_mcp_version_negotiation.py
  thoughts/plans/2026-05-26-mcp-version-negotiation-structuredcontent.md
  thoughts/research/2026-05-26-mcp-tool-result-structuredcontent.md
Due: dynamodb, postgresql, HTTP Handlers

Pre-release v3.10.2b6: MCP per-session client identity
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/mcp.py
  actingweb/runtime_context.py
  pyproject.toml
  tests/test_runtime_context_unit.py
Due: dynamodb, postgresql, HTTP Handlers

Address PR review: trim docstrings, log on except, drop redundant guard
  actingweb/handlers/mcp.py
  actingweb/runtime_context.py
Due: dynamodb, postgresql, HTTP Handlers

Pre-release v3.10.2b6: MCP per-session client identity (#101)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/mcp.py
  actingweb/runtime_context.py
  pyproject.toml
  tests/test_runtime_context_unit.py
Due: dynamodb, postgresql, HTTP Handlers

Pre-release v3.10.2b7: MCP tools/list emits title and outputSchema
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/mcp.py
  pyproject.toml
Due: dynamodb, postgresql, HTTP Handlers

Address PR review: drop historical comment, add tools/list field test
  actingweb/handlers/mcp.py
  tests/test_mcp_tool_schema_fields.py
Due: dynamodb, postgresql, HTTP Handlers

Include _get_session_key Mcp-Session-Id fix in v3.10.2b7
  CHANGELOG.rst
  actingweb/handlers/mcp.py
  tests/test_mcp_session_key.py
Due: dynamodb, postgresql, HTTP Handlers

Pre-release v3.10.2b7: MCP tools/list title/outputSchema + Mcp-Session-Id cache key (#102)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/mcp.py
  pyproject.toml
  tests/test_mcp_session_key.py
  tests/test_mcp_tool_schema_fields.py
Due: dynamodb, postgresql, HTTP Handlers

Add research doc for Apple Sign-In and Google mobile OAuth support
  thoughts/research/2026-05-28-apple-signin-support.md
Due: none

Pre-release v3.10.2b8: MCP transport_session_id no synthetic fallback
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/mcp.py
  pyproject.toml
  tests/test_mcp_session_key.py
Due: dynamodb, postgresql, HTTP Handlers

Address claude-review feedback on PR #103
  CHANGELOG.rst
  actingweb/handlers/mcp.py
  tests/test_mcp_session_key.py
Due: dynamodb, postgresql, HTTP Handlers

Pre-release v3.10.2b8: MCP transport_session_id no synthetic fallback (#103)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/handlers/mcp.py
  pyproject.toml
  tests/test_mcp_session_key.py
Due: dynamodb, postgresql, HTTP Handlers

Add implementation plan for Apple Sign-In and unified native OIDC grant
  thoughts/plans/2026-05-29-apple-signin-and-native-oidc-grant.md
Due: none

Pre-release v3.10.2b9: fix revoke_all_tokens dict-mutation crash on refresh-token reuse
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/oauth_session.py
  pyproject.toml
  tests/test_oauth_session.py
Due: dynamodb, postgresql, OAuth System

Address review: comment refresh-token loop, derive test count from seed
  actingweb/oauth_session.py
  tests/test_oauth_session.py
Due: dynamodb, postgresql, OAuth System

Pre-release v3.10.2b9: fix revoke_all_tokens dict-mutation crash (#104)
  CHANGELOG.rst
  actingweb/__init__.py
  actingweb/oauth_session.py
  pyproject.toml
  tests/test_oauth_session.py
Due: dynamodb, postgresql, OAuth System

Pre-release v3.11.0b1
  CHANGELOG.rst
  actingweb/__init__.py
  pyproject.toml
Due: none

Add Phase 8 to plan: GitHub mobile parity for 3.11.0
  thoughts/plans/2026-05-29-apple-signin-and-native-oidc-grant.md
Due: none

Apply ruff format to pre-existing files (no logic change)
  actingweb/db/postgresql/schema.py
  actingweb/runtime_context.py
  tests/test_fastapi_template_response.py
  tests/test_mcp_tool_schema_fields.py
  tests/test_mcp_tool_visibility.py
  tests/test_oauth_session.py
Due: dynamodb, postgresql, PostgreSQL Backend

Phase 8: GitHub mobile parity + generalized mobile-ticket flow
  CHANGELOG.rst
  actingweb/constants.py
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth2_spa.py
  actingweb/interface/app.py
  actingweb/oauth2.py
  actingweb/oauth2_id_token.py
  actingweb/oauth_state_store.py
  docs/guides/authentication.rst
  docs/guides/spa-authentication.rst
  docs/reference/routing-overview.rst
  tests/test_actingweb_app.py
  tests/test_mobile_oauth2.py
  tests/test_oauth2_callback_github_mobile.py
  tests/test_oauth2_id_token.py
  tests/test_oauth2_spa_mobile_ticket.py
  thoughts/plans/2026-05-29-apple-signin-and-native-oidc-grant.md
Due: dynamodb, postgresql, Interface Layer, HTTP Handlers, OAuth System

Address PR review: PKCE in ticket flow, email-only parity, secretless native
  actingweb/handlers/oauth2_callback.py
  actingweb/handlers/oauth2_spa.py
  actingweb/oauth2.py
  tests/test_oauth2_callback_github_mobile.py
  tests/test_oauth2_spa_jwt_bearer.py
Due: dynamodb, postgresql, HTTP Handlers, OAuth System

Harden flaky trust-deletion test against parallel DB eventual consistency
  tests/integration/test_trust_oauth_integration.py
Due: none

Fix client deletion when the global client index lookup misses
  actingweb/oauth2_server/client_registry.py
  tests/integration/test_trust_oauth_integration.py
Due: dynamodb, postgresql, OAuth System

Quarantine two trust-deletion assertions on the postgresql CI matrix
  tests/integration/test_trust_oauth_integration.py
Due: none

Demote leftover actor-by-creator id log from WARNING to DEBUG
  CHANGELOG.rst
  actingweb/db/dynamodb/actor.py
  actingweb/db/postgresql/actor.py
Due: dynamodb, postgresql, DynamoDB Backend, PostgreSQL Backend

Add TODO: postgres parallel DELETE-not-persisting investigation
  thoughts/todo/2026-06-15-postgres-parallel-delete-not-persisting.md
Due: none

Consolidate 3.10.2 beta line into v3.11.0b1 changelog
  CHANGELOG.rst
Due: none

Path conditions:
  dynamodb: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  postgresql: any of: actingweb/, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Core Modules: any of: actingweb/actor.py, actingweb/config.py, actingweb/auth.py, actingweb/trust.py, actingweb/subscription.py, actingweb/property.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Interface Layer: any of: actingweb/interface/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  HTTP Handlers: any of: actingweb/handlers/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  OAuth System: any of: actingweb/oauth*.py, actingweb/oauth2_server/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  DynamoDB Backend: any of: actingweb/db/dynamodb/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  PostgreSQL Backend: any of: actingweb/db/postgresql/**, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
  Database Common: any of: actingweb/db/__init__.py, actingweb/db/protocols.py, but not: tests/**/*, **/__init__.py, **/deprecated_*/**, docs/**/*, scripts/**/*
